In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import torch
device = torch.device("cuda:0" if torch.cuda.is_available() else "cpu")

In [ ]:
import numpy as np
import os
import scipy.io
dataDir = "/content/drive/MyDrive/data_preprocessed_matlab/"
mats = []
for file in os.listdir(dataDir) :
    mats.append(scipy.io.loadmat(dataDir+file))

In [ ]:
import pandas as pd
for i in range(len(mats)):
  mats[i]=pd.Series(mats[i])

In [ ]:
for i in range(len(mats)):
  mats[i]=mats[i].drop(['__header__','__version__','__globals__'])

In [ ]:
for i in range(len(mats)):
  print(i,mats[i]['data'].shape,mats[i]['labels'].shape)

0 (40, 40, 8064) (40, 4)
1 (40, 40, 8064) (40, 4)
2 (40, 40, 8064) (40, 4)
3 (40, 40, 8064) (40, 4)
4 (40, 40, 8064) (40, 4)
5 (40, 40, 8064) (40, 4)
6 (40, 40, 8064) (40, 4)
7 (40, 40, 8064) (40, 4)
8 (40, 40, 8064) (40, 4)
9 (40, 40, 8064) (40, 4)
10 (40, 40, 8064) (40, 4)
11 (40, 40, 8064) (40, 4)
12 (40, 40, 8064) (40, 4)
13 (40, 40, 8064) (40, 4)
14 (40, 40, 8064) (40, 4)
15 (40, 40, 8064) (40, 4)
16 (40, 40, 8064) (40, 4)
17 (40, 40, 8064) (40, 4)
18 (40, 40, 8064) (40, 4)
19 (40, 40, 8064) (40, 4)
20 (40, 40, 8064) (40, 4)
21 (40, 40, 8064) (40, 4)
22 (40, 40, 8064) (40, 4)
23 (40, 40, 8064) (40, 4)
24 (40, 40, 8064) (40, 4)
25 (40, 40, 8064) (40, 4)
26 (40, 40, 8064) (40, 4)
27 (40, 40, 8064) (40, 4)
28 (40, 40, 8064) (40, 4)
29 (40, 40, 8064) (40, 4)
30 (40, 40, 8064) (40, 4)
31 (40, 40, 8064) (40, 4)

In [ ]:
B1 = np.load('/content/drive/MyDrive/B1.npy')
B2 = np.load('/content/drive/MyDrive/B2.npy')
B3 = np.load('/content/drive/MyDrive/B3.npy')
B4 = np.load('/content/drive/MyDrive/B4.npy')
B5 = np.load('/content/drive/MyDrive/B5.npy')
B6 = np.load('/content/drive/MyDrive/B6.npy')
B7 = np.load('/content/drive/MyDrive/B7.npy')
B8 = np.load('/content/drive/MyDrive/B8.npy')
B9 = np.load('/content/drive/MyDrive/B9.npy')
B10 = np.load('/content/drive/MyDrive/B10.npy')
B11 = np.load('/content/drive/MyDrive/B11.npy')
B12 = np.load('/content/drive/MyDrive/B12.npy')
B13 = np.load('/content/drive/MyDrive/B13.npy')
B14 = np.load('/content/drive/MyDrive/B14.npy')
B15 = np.load('/content/drive/MyDrive/B15.npy')
B16 = np.load('/content/drive/MyDrive/B16.npy')
B17 = np.load('/content/drive/MyDrive/B17.npy')
B18 = np.load('/content/drive/MyDrive/B18.npy')
B19 = np.load('/content/drive/MyDrive/B19.npy')
B20 = np.load('/content/drive/MyDrive/B20.npy')
B21 = np.load('/content/drive/MyDrive/B21.npy')
B22 = np.load('/content/drive/MyDrive/B22.npy')
B23 = np.load('/content/drive/MyDrive/B23.npy')
B24 = np.load('/content/drive/MyDrive/B24.npy')
B25 = np.load('/content/drive/MyDrive/B25.npy')
B26 = np.load('/content/drive/MyDrive/B26.npy')
B27 = np.load('/content/drive/MyDrive/B27.npy')
B28 = np.load('/content/drive/MyDrive/B28.npy')
B29 = np.load('/content/drive/MyDrive/B29.npy')
B30 = np.load('/content/drive/MyDrive/B30.npy')
B31 = np.load('/content/drive/MyDrive/B31.npy')
B32 = np.load('/content/drive/MyDrive/B32.npy')

In [ ]:
B1.resize(40*8064,9,9)
B2.resize(40*8064,9,9)
B3.resize(40*8064,9,9)
B4.resize(40*8064,9,9)
B5.resize(40*8064,9,9)
B6.resize(40*8064,9,9)
B7.resize(40*8064,9,9)
B8.resize(40*8064,9,9)
B9.resize(40*8064,9,9)
B10.resize(40*8064,9,9)
B11.resize(40*8064,9,9)
B12.resize(40*8064,9,9)
B13.resize(40*8064,9,9)
B14.resize(40*8064,9,9)
B15.resize(40*8064,9,9)
B16.resize(40*8064,9,9)
B17.resize(40*8064,9,9)
B18.resize(40*8064,9,9)
B19.resize(40*8064,9,9)
B20.resize(40*8064,9,9)
B21.resize(40*8064,9,9)
B22.resize(40*8064,9,9)
B23.resize(40*8064,9,9)
B24.resize(40*8064,9,9)
B25.resize(40*8064,9,9)
B26.resize(40*8064,9,9)
B27.resize(40*8064,9,9)
B28.resize(40*8064,9,9)
B29.resize(40*8064,9,9)
B30.resize(40*8064,9,9)
B31.resize(40*8064,9,9)
B32.resize(40*8064,9,9)

In [ ]:
label1 = mats[0][0]
label2 = mats[1][0]
label3 = mats[2][0]
label4 = mats[3][0]
label5 = mats[4][0]
label6 = mats[5][0]
label7 = mats[6][0]
label8 = mats[7][0]
label9 = mats[8][0]
label10 = mats[9][0]
label11 = mats[10][0]
label12 = mats[11][0]
label13 = mats[12][0]
label14 = mats[13][0]
label15 = mats[14][0]
label16 = mats[15][0]
label17 = mats[16][0]
label18 = mats[17][0]
label19 = mats[18][0]
label20 = mats[19][0]
label21 = mats[20][0]
label22 = mats[21][0]
label23 = mats[22][0]
label24 = mats[23][0]
label25 = mats[24][0]
label26 = mats[25][0]
label27 = mats[26][0]
label28 = mats[27][0]
label29 = mats[28][0]
label30 = mats[29][0]
label31 = mats[30][0]
label32 = mats[31][0]

In [ ]:
label1 = np.repeat(label1, repeats=8064, axis=0)
label2 = np.repeat(label2, repeats=8064, axis=0)
label3 = np.repeat(label3, repeats=8064, axis=0)
label4 = np.repeat(label4, repeats=8064, axis=0)
label5 = np.repeat(label5, repeats=8064, axis=0)
label6 = np.repeat(label6, repeats=8064, axis=0)
label7 = np.repeat(label7, repeats=8064, axis=0)
label8 = np.repeat(label8, repeats=8064, axis=0)
label9 = np.repeat(label9, repeats=8064, axis=0)
label10 = np.repeat(label10, repeats=8064, axis=0)
label11 = np.repeat(label11, repeats=8064, axis=0)
label12 = np.repeat(label12, repeats=8064, axis=0)
label13 = np.repeat(label13, repeats=8064, axis=0)
label14 = np.repeat(label14, repeats=8064, axis=0)
label15 = np.repeat(label15, repeats=8064, axis=0)
label16 = np.repeat(label16, repeats=8064, axis=0)
label17 = np.repeat(label17, repeats=8064, axis=0)
label18 = np.repeat(label18, repeats=8064, axis=0)
label19 = np.repeat(label19, repeats=8064, axis=0)
label20 = np.repeat(label20, repeats=8064, axis=0)
label21 = np.repeat(label21, repeats=8064, axis=0)
label22 = np.repeat(label22, repeats=8064, axis=0)
label23 = np.repeat(label23, repeats=8064, axis=0)
label24 = np.repeat(label24, repeats=8064, axis=0)
label25 = np.repeat(label25, repeats=8064, axis=0)
label26 = np.repeat(label26, repeats=8064, axis=0)
label27 = np.repeat(label27, repeats=8064, axis=0)
label28 = np.repeat(label28, repeats=8064, axis=0)
label29 = np.repeat(label29, repeats=8064, axis=0)
label30 = np.repeat(label30, repeats=8064, axis=0)
label31 = np.repeat(label31, repeats=8064, axis=0)
label32 = np.repeat(label32, repeats=8064, axis=0)

In [ ]:
strArr = []
for i in range(40):
  strArr.append("R1_")
  strArr[i] +=str(i+1)
  strArr[i] = strArr[i] + "_"

In [ ]:
strArr = np.repeat(strArr, repeats=8064, axis=0)
strArr.resize(40*8064, 1)

In [ ]:
N = []
for i in range(8064):
  N.append(i+1)

Q = []
for i in range(40):
  Q.append(N)

In [ ]:
Q=np.array(Q)
Q.resize(40*8064,1)
L = []
for i in range(40*8064):
  L.append(strArr[i,0]+str(Q[i,0]))

In [ ]:
L1 = pd.DataFrame(columns=[1])
L1[1] = L1[1].astype(object)
for i in range(322560):
  L1.loc[i+1, 1] = np.array(L[i])
  L1.loc[i+1, 2] = np.array(label1[i, 0])
  L1.loc[i+1, 3] = np.array(label1[i, 1])
  L1.loc[i+1, 4] = np.array(label1[i, 2])
  L1.loc[i+1, 5] = np.array(label1[i, 3])
L1

KeyboardInterrupt: ignored

In [ ]:
L1.to_csv('/content/drive/MyDrive/L1.csv')

In [ ]:
strArr = []
for i in range(40):
  strArr.append("R2_")
  strArr[i] +=str(i+1)
  strArr[i] = strArr[i] + "_"

In [ ]:
strArr = np.repeat(strArr, repeats=8064, axis=0)
strArr.resize(40*8064, 1)

In [ ]:
N = []
for i in range(8064):
  N.append(i+1)

Q = []
for i in range(40):
  Q.append(N)

In [ ]:
Q=np.array(Q)
Q.resize(40*8064,1)
L = []
for i in range(40*8064):
  L.append(strArr[i,0]+str(Q[i,0]))

In [ ]:
L2 = pd.DataFrame(columns=[1])
L2[1] = L2[1].astype(object)
for i in range(322560):
  L2.loc[i+1, 1] = np.array(L[i])
  L2.loc[i+1, 2] = np.array(label2[i, 0])
  L2.loc[i+1, 3] = np.array(label2[i, 1])
  L2.loc[i+1, 4] = np.array(label2[i, 2])
  L2.loc[i+1, 5] = np.array(label2[i, 3])
L2

                 1     2     3     4     5
1           R2_1_1  9.00  5.03  7.13  6.62
2           R2_1_2  9.00  5.03  7.13  6.62
3           R2_1_3  9.00  5.03  7.13  6.62
4           R2_1_4  9.00  5.03  7.13  6.62
5           R2_1_5  9.00  5.03  7.13  6.62
...            ...   ...   ...   ...   ...
322556  R2_40_8060  6.05  6.67  6.94  6.53
322557  R2_40_8061  6.05  6.67  6.94  6.53
322558  R2_40_8062  6.05  6.67  6.94  6.53
322559  R2_40_8063  6.05  6.67  6.94  6.53
322560  R2_40_8064  6.05  6.67  6.94  6.53

[322560 rows x 5 columns]

In [ ]:
L2.to_csv('/content/drive/MyDrive/L2.csv')

In [ ]:
strArr = []
for i in range(40):
  strArr.append("R3_")
  strArr[i] +=str(i+1)
  strArr[i] = strArr[i] + "_"

strArr = np.repeat(strArr, repeats=8064, axis=0)
strArr.resize(40*8064, 1)

N = []
for i in range(8064):
  N.append(i+1)

Q = []
for i in range(40):
  Q.append(N)

Q=np.array(Q)
Q.resize(40*8064,1)
L = []
for i in range(40*8064):
  L.append(strArr[i,0]+str(Q[i,0]))

In [ ]:
L3 = pd.DataFrame(columns=[1])
L3[1] = L3[1].astype(object)
for i in range(322560):
  L3.loc[i+1, 1] = np.array(L[i])
  L3.loc[i+1, 2] = np.array(label3[i, 0])
  L3.loc[i+1, 3] = np.array(label3[i, 1])
  L3.loc[i+1, 4] = np.array(label3[i, 2])
  L3.loc[i+1, 5] = np.array(label3[i, 3])
L3

                 1     2     3     4     5
1           R3_1_1  5.33  4.67  4.97  4.45
2           R3_1_2  5.33  4.67  4.97  4.45
3           R3_1_3  5.33  4.67  4.97  4.45
4           R3_1_4  5.33  4.67  4.97  4.45
5           R3_1_5  5.33  4.67  4.97  4.45
...            ...   ...   ...   ...   ...
322556  R3_40_8060  5.38  4.33  5.67  5.29
322557  R3_40_8061  5.38  4.33  5.67  5.29
322558  R3_40_8062  5.38  4.33  5.67  5.29
322559  R3_40_8063  5.38  4.33  5.67  5.29
322560  R3_40_8064  5.38  4.33  5.67  5.29

[322560 rows x 5 columns]

In [ ]:
L3.to_csv('/content/drive/MyDrive/L3.csv')

In [ ]:
strArr = []
for i in range(40):
  strArr.append("R4_")
  strArr[i] +=str(i+1)
  strArr[i] = strArr[i] + "_"

strArr = np.repeat(strArr, repeats=8064, axis=0)
strArr.resize(40*8064, 1)

N = []
for i in range(8064):
  N.append(i+1)

Q = []
for i in range(40):
  Q.append(N)

Q=np.array(Q)
Q.resize(40*8064,1)
L = []
for i in range(40*8064):
  L.append(strArr[i,0]+str(Q[i,0]))

In [ ]:
L4 = pd.DataFrame(columns=[1])
L4[1] = L4[1].astype(object)
for i in range(322560):
  L4.loc[i+1, 1] = np.array(L[i])
  L4.loc[i+1, 2] = np.array(label4[i, 0])
  L4.loc[i+1, 3] = np.array(label4[i, 1])
  L4.loc[i+1, 4] = np.array(label4[i, 2])
  L4.loc[i+1, 5] = np.array(label4[i, 3])
L4

                 1     2     3     4     5
1           R4_1_1  6.68  5.03  8.22  8.14
2           R4_1_2  6.68  5.03  8.22  8.14
3           R4_1_3  6.68  5.03  8.22  8.14
4           R4_1_4  6.68  5.03  8.22  8.14
5           R4_1_5  6.68  5.03  8.22  8.14
...            ...   ...   ...   ...   ...
322556  R4_40_8060  1.86  2.91  1.88  3.00
322557  R4_40_8061  1.86  2.91  1.88  3.00
322558  R4_40_8062  1.86  2.91  1.88  3.00
322559  R4_40_8063  1.86  2.91  1.88  3.00
322560  R4_40_8064  1.86  2.91  1.88  3.00

[322560 rows x 5 columns]

In [ ]:
L4.to_csv('/content/drive/MyDrive/L4.csv')

In [ ]:
strArr = []
for i in range(40):
  strArr.append("R5_")
  strArr[i] +=str(i+1)
  strArr[i] = strArr[i] + "_"

strArr = np.repeat(strArr, repeats=8064, axis=0)
strArr.resize(40*8064, 1)

N = []
for i in range(8064):
  N.append(i+1)

Q = []
for i in range(40):
  Q.append(N)

Q=np.array(Q)
Q.resize(40*8064,1)
L = []
for i in range(40*8064):
  L.append(strArr[i,0]+str(Q[i,0]))

In [ ]:
L5 = pd.DataFrame(columns=[1])
L5[1] = L5[1].astype(object)
for i in range(322560):
  L5.loc[i+1, 1] = np.array(L[i])
  L5.loc[i+1, 2] = np.array(label5[i, 0])
  L5.loc[i+1, 3] = np.array(label5[i, 1])
  L5.loc[i+1, 4] = np.array(label5[i, 2])
  L5.loc[i+1, 5] = np.array(label5[i, 3])
L5

                 1     2     3     4     5
1           R5_1_1  6.97  4.90  2.99  5.92
2           R5_1_2  6.97  4.90  2.99  5.92
3           R5_1_3  6.97  4.90  2.99  5.92
4           R5_1_4  6.97  4.90  2.99  5.92
5           R5_1_5  6.97  4.90  2.99  5.92
...            ...   ...   ...   ...   ...
322556  R5_40_8060  7.00  6.96  8.00  2.92
322557  R5_40_8061  7.00  6.96  8.00  2.92
322558  R5_40_8062  7.00  6.96  8.00  2.92
322559  R5_40_8063  7.00  6.96  8.00  2.92
322560  R5_40_8064  7.00  6.96  8.00  2.92

[322560 rows x 5 columns]

In [ ]:
L5.to_csv('/content/drive/MyDrive/L5.csv')

In [ ]:
strArr = []
for i in range(40):
  strArr.append("R6_")
  strArr[i] +=str(i+1)
  strArr[i] = strArr[i] + "_"

strArr = np.repeat(strArr, repeats=8064, axis=0)
strArr.resize(40*8064, 1)

N = []
for i in range(8064):
  N.append(i+1)

Q = []
for i in range(40):
  Q.append(N)

Q=np.array(Q)
Q.resize(40*8064,1)
L = []
for i in range(40*8064):
  L.append(strArr[i,0]+str(Q[i,0]))

In [ ]:
L6 = pd.DataFrame(columns=[1])
L6[1] = L6[1].astype(object)
for i in range(322560):
  L6.loc[i+1, 1] = np.array(L[i])
  L6.loc[i+1, 2] = np.array(label6[i, 0])
  L6.loc[i+1, 3] = np.array(label6[i, 1])
  L6.loc[i+1, 4] = np.array(label6[i, 2])
  L6.loc[i+1, 5] = np.array(label6[i, 3])
L6

In [ ]:
L6.to_csv('/content/drive/MyDrive/L6.csv')

In [ ]:
strArr = []
for i in range(40):
  strArr.append("R7_")
  strArr[i] +=str(i+1)
  strArr[i] = strArr[i] + "_"

strArr = np.repeat(strArr, repeats=8064, axis=0)
strArr.resize(40*8064, 1)

N = []
for i in range(8064):
  N.append(i+1)

Q = []
for i in range(40):
  Q.append(N)

Q=np.array(Q)
Q.resize(40*8064,1)
L = []
for i in range(40*8064):
  L.append(strArr[i,0]+str(Q[i,0]))

In [ ]:
L7 = pd.DataFrame(columns=[1])
L7[1] = L7[1].astype(object)
for i in range(322560):
  L7.loc[i+1, 1] = np.array(L[i])
  L7.loc[i+1, 2] = np.array(label7[i, 0])
  L7.loc[i+1, 3] = np.array(label7[i, 1])
  L7.loc[i+1, 4] = np.array(label7[i, 2])
  L7.loc[i+1, 5] = np.array(label7[i, 3])
L7

                 1     2     3     4     5
1           R7_1_1  8.10  4.01  1.92  7.06
2           R7_1_2  8.10  4.01  1.92  7.06
3           R7_1_3  8.10  4.01  1.92  7.06
4           R7_1_4  8.10  4.01  1.92  7.06
5           R7_1_5  8.10  4.01  1.92  7.06
...            ...   ...   ...   ...   ...
322556  R7_40_8060  7.01  7.03  6.03  7.05
322557  R7_40_8061  7.01  7.03  6.03  7.05
322558  R7_40_8062  7.01  7.03  6.03  7.05
322559  R7_40_8063  7.01  7.03  6.03  7.05
322560  R7_40_8064  7.01  7.03  6.03  7.05

[322560 rows x 5 columns]

In [ ]:
L7.to_csv('/content/drive/MyDrive/L7.csv')

In [ ]:
strArr = []
for i in range(40):
  strArr.append("R8_")
  strArr[i] +=str(i+1)
  strArr[i] = strArr[i] + "_"

strArr = np.repeat(strArr, repeats=8064, axis=0)
strArr.resize(40*8064, 1)

N = []
for i in range(8064):
  N.append(i+1)

Q = []
for i in range(40):
  Q.append(N)

Q=np.array(Q)
Q.resize(40*8064,1)
L = []
for i in range(40*8064):
  L.append(strArr[i,0]+str(Q[i,0]))

In [ ]:
L8 = pd.DataFrame(columns=[1])
L8[1] = L8[1].astype(object)
for i in range(322560):
  L8.loc[i+1, 1] = np.array(L[i])
  L8.loc[i+1, 2] = np.array(label8[i, 0])
  L8.loc[i+1, 3] = np.array(label8[i, 1])
  L8.loc[i+1, 4] = np.array(label8[i, 2])
  L8.loc[i+1, 5] = np.array(label8[i, 3])
L8

                 1     2     3     4     5
1           R8_1_1  7.60  6.78  7.86  7.47
2           R8_1_2  7.60  6.78  7.86  7.47
3           R8_1_3  7.60  6.78  7.86  7.47
4           R8_1_4  7.60  6.78  7.86  7.47
5           R8_1_5  7.60  6.78  7.86  7.47
...            ...   ...   ...   ...   ...
322556  R8_40_8060  3.13  5.03  4.95  3.81
322557  R8_40_8061  3.13  5.03  4.95  3.81
322558  R8_40_8062  3.13  5.03  4.95  3.81
322559  R8_40_8063  3.13  5.03  4.95  3.81
322560  R8_40_8064  3.13  5.03  4.95  3.81

[322560 rows x 5 columns]

In [ ]:
L8.to_csv('/content/drive/MyDrive/L8.csv')

In [ ]:
strArr = []
for i in range(40):
  strArr.append("R9_")
  strArr[i] +=str(i+1)
  strArr[i] = strArr[i] + "_"

strArr = np.repeat(strArr, repeats=8064, axis=0)
strArr.resize(40*8064, 1)

N = []
for i in range(8064):
  N.append(i+1)

Q = []
for i in range(40):
  Q.append(N)

Q=np.array(Q)
Q.resize(40*8064,1)
L = []
for i in range(40*8064):
  L.append(strArr[i,0]+str(Q[i,0]))

In [ ]:
L9 = pd.DataFrame(columns=[1])
L9[1] = L9[1].astype(object)
for i in range(322560):
  L9.loc[i+1, 1] = np.array(L[i])
  L9.loc[i+1, 2] = np.array(label9[i, 0])
  L9.loc[i+1, 3] = np.array(label9[i, 1])
  L9.loc[i+1, 4] = np.array(label9[i, 2])
  L9.loc[i+1, 5] = np.array(label9[i, 3])
L9

                 1     2     3     4     5
1           R9_1_1  5.05  4.04  3.01  4.97
2           R9_1_2  5.05  4.04  3.01  4.97
3           R9_1_3  5.05  4.04  3.01  4.97
4           R9_1_4  5.05  4.04  3.01  4.97
5           R9_1_5  5.05  4.04  3.01  4.97
...            ...   ...   ...   ...   ...
322556  R9_40_8060  5.04  5.01  4.04  4.96
322557  R9_40_8061  5.04  5.01  4.04  4.96
322558  R9_40_8062  5.04  5.01  4.04  4.96
322559  R9_40_8063  5.04  5.01  4.04  4.96
322560  R9_40_8064  5.04  5.01  4.04  4.96

[322560 rows x 5 columns]

In [ ]:
L9.to_csv('/content/drive/MyDrive/L9.csv')

In [ ]:
strArr = []
for i in range(40):
  strArr.append("R10_")
  strArr[i] +=str(i+1)
  strArr[i] = strArr[i] + "_"

strArr = np.repeat(strArr, repeats=8064, axis=0)
strArr.resize(40*8064, 1)

N = []
for i in range(8064):
  N.append(i+1)

Q = []
for i in range(40):
  Q.append(N)

Q=np.array(Q)
Q.resize(40*8064,1)
L = []
for i in range(40*8064):
  L.append(strArr[i,0]+str(Q[i,0]))

In [ ]:
L10 = pd.DataFrame(columns=[1])
L10[1] = L10[1].astype(object)
for i in range(322560):
  L10.loc[i+1, 1] = np.array(L[i])
  L10.loc[i+1, 2] = np.array(label10[i, 0])
  L10.loc[i+1, 3] = np.array(label10[i, 1])
  L10.loc[i+1, 4] = np.array(label10[i, 2])
  L10.loc[i+1, 5] = np.array(label10[i, 3])
L10

                  1     2     3     4     5
1           R10_1_1  7.91  6.15  6.67  7.63
2           R10_1_2  7.91  6.15  6.67  7.63
3           R10_1_3  7.91  6.15  6.67  7.63
4           R10_1_4  7.91  6.15  6.67  7.63
5           R10_1_5  7.91  6.15  6.67  7.63
...             ...   ...   ...   ...   ...
322556  R10_40_8060  5.78  6.15  7.04  6.44
322557  R10_40_8061  5.78  6.15  7.04  6.44
322558  R10_40_8062  5.78  6.15  7.04  6.44
322559  R10_40_8063  5.78  6.15  7.04  6.44
322560  R10_40_8064  5.78  6.15  7.04  6.44

[322560 rows x 5 columns]

In [ ]:
L10.to_csv('/content/drive/MyDrive/L10.csv')

In [ ]:
strArr = []
for i in range(40):
  strArr.append("R11_")
  strArr[i] +=str(i+1)
  strArr[i] = strArr[i] + "_"

strArr = np.repeat(strArr, repeats=8064, axis=0)
strArr.resize(40*8064, 1)

N = []
for i in range(8064):
  N.append(i+1)

Q = []
for i in range(40):
  Q.append(N)

Q=np.array(Q)
Q.resize(40*8064,1)
L = []
for i in range(40*8064):
  L.append(strArr[i,0]+str(Q[i,0]))

In [ ]:
L11 = pd.DataFrame(columns=[1])
L11[1] = L11[1].astype(object)
for i in range(322560):
  L11.loc[i+1, 1] = np.array(L[i])
  L11.loc[i+1, 2] = np.array(label11[i, 0])
  L11.loc[i+1, 3] = np.array(label11[i, 1])
  L11.loc[i+1, 4] = np.array(label11[i, 2])
  L11.loc[i+1, 5] = np.array(label11[i, 3])
L11

                  1     2     3     4     5
1           R11_1_1  6.27  4.03  7.41  6.50
2           R11_1_2  6.27  4.03  7.41  6.50
3           R11_1_3  6.27  4.03  7.41  6.50
4           R11_1_4  6.27  4.03  7.41  6.50
5           R11_1_5  6.27  4.03  7.41  6.50
...             ...   ...   ...   ...   ...
322556  R11_40_8060  4.95  2.90  3.69  4.96
322557  R11_40_8061  4.95  2.90  3.69  4.96
322558  R11_40_8062  4.95  2.90  3.69  4.96
322559  R11_40_8063  4.95  2.90  3.69  4.96
322560  R11_40_8064  4.95  2.90  3.69  4.96

[322560 rows x 5 columns]

In [ ]:
L11.to_csv('/content/drive/MyDrive/L11.csv')

In [ ]:
strArr = []
for i in range(40):
  strArr.append("R12_")
  strArr[i] +=str(i+1)
  strArr[i] = strArr[i] + "_"

strArr = np.repeat(strArr, repeats=8064, axis=0)
strArr.resize(40*8064, 1)

N = []
for i in range(8064):
  N.append(i+1)

Q = []
for i in range(40):
  Q.append(N)

Q=np.array(Q)
Q.resize(40*8064,1)
L = []
for i in range(40*8064):
  L.append(strArr[i,0]+str(Q[i,0]))

In [ ]:
L12 = pd.DataFrame(columns=[1])
L12[1] = L12[1].astype(object)
for i in range(322560):
  L12.loc[i+1, 1] = np.array(L[i])
  L12.loc[i+1, 2] = np.array(label12[i, 0])
  L12.loc[i+1, 3] = np.array(label12[i, 1])
  L12.loc[i+1, 4] = np.array(label12[i, 2])
  L12.loc[i+1, 5] = np.array(label12[i, 3])
L12

                  1     2     3     4     5
1           R12_1_1  7.09  7.10  7.24  6.82
2           R12_1_2  7.09  7.10  7.24  6.82
3           R12_1_3  7.09  7.10  7.24  6.82
4           R12_1_4  7.09  7.10  7.24  6.82
5           R12_1_5  7.09  7.10  7.24  6.82
...             ...   ...   ...   ...   ...
322556  R12_40_8060  6.81  8.72  6.94  7.08
322557  R12_40_8061  6.81  8.72  6.94  7.08
322558  R12_40_8062  6.81  8.72  6.94  7.08
322559  R12_40_8063  6.81  8.72  6.94  7.08
322560  R12_40_8064  6.81  8.72  6.94  7.08

[322560 rows x 5 columns]

In [ ]:
L12.to_csv('/content/drive/MyDrive/L12.csv')

In [ ]:
strArr = []
for i in range(40):
  strArr.append("R13_")
  strArr[i] +=str(i+1)
  strArr[i] = strArr[i] + "_"

strArr = np.repeat(strArr, repeats=8064, axis=0)
strArr.resize(40*8064, 1)

N = []
for i in range(8064):
  N.append(i+1)

Q = []
for i in range(40):
  Q.append(N)

Q=np.array(Q)
Q.resize(40*8064,1)
L = []
for i in range(40*8064):
  L.append(strArr[i,0]+str(Q[i,0]))

In [ ]:
L13 = pd.DataFrame(columns=[1])
L13[1] = L13[1].astype(object)
for i in range(322560):
  L13.loc[i+1, 1] = np.array(L[i])
  L13.loc[i+1, 2] = np.array(label13[i, 0])
  L13.loc[i+1, 3] = np.array(label13[i, 1])
  L13.loc[i+1, 4] = np.array(label13[i, 2])
  L13.loc[i+1, 5] = np.array(label13[i, 3])
L13

                  1     2     3     4     5
1           R13_1_1  6.15  8.09  5.01  6.08
2           R13_1_2  6.15  8.09  5.01  6.08
3           R13_1_3  6.15  8.09  5.01  6.08
4           R13_1_4  6.15  8.09  5.01  6.08
5           R13_1_5  6.15  8.09  5.01  6.08
...             ...   ...   ...   ...   ...
322556  R13_40_8060  4.08  9.00  7.03  7.08
322557  R13_40_8061  4.08  9.00  7.03  7.08
322558  R13_40_8062  4.08  9.00  7.03  7.08
322559  R13_40_8063  4.08  9.00  7.03  7.08
322560  R13_40_8064  4.08  9.00  7.03  7.08

[322560 rows x 5 columns]

In [ ]:
L13.to_csv('/content/drive/MyDrive/L13.csv')

In [ ]:
strArr = []
for i in range(40):
  strArr.append("R14_")
  strArr[i] +=str(i+1)
  strArr[i] = strArr[i] + "_"

strArr = np.repeat(strArr, repeats=8064, axis=0)
strArr.resize(40*8064, 1)

N = []
for i in range(8064):
  N.append(i+1)

Q = []
for i in range(40):
  Q.append(N)

Q=np.array(Q)
Q.resize(40*8064,1)
L = []
for i in range(40*8064):
  L.append(strArr[i,0]+str(Q[i,0]))

In [ ]:
L14 = pd.DataFrame(columns=[1])
L14[1] = L14[1].astype(object)
for i in range(322560):
  L14.loc[i+1, 1] = np.array(L[i])
  L14.loc[i+1, 2] = np.array(label14[i, 0])
  L14.loc[i+1, 3] = np.array(label14[i, 1])
  L14.loc[i+1, 4] = np.array(label14[i, 2])
  L14.loc[i+1, 5] = np.array(label14[i, 3])
L14

                  1     2     3    4     5
1           R14_1_1  8.22  7.78  4.0  7.42
2           R14_1_2  8.22  7.78  4.0  7.42
3           R14_1_3  8.22  7.78  4.0  7.42
4           R14_1_4  8.22  7.78  4.0  7.42
5           R14_1_5  8.22  7.78  4.0  7.42
...             ...   ...   ...  ...   ...
322556  R14_40_8060  6.68  6.86  6.0  5.23
322557  R14_40_8061  6.68  6.86  6.0  5.23
322558  R14_40_8062  6.68  6.86  6.0  5.23
322559  R14_40_8063  6.68  6.86  6.0  5.23
322560  R14_40_8064  6.68  6.86  6.0  5.23

[322560 rows x 5 columns]

In [ ]:
L14.to_csv('/content/drive/MyDrive/L14.csv')

In [ ]:
strArr = []
for i in range(40):
  strArr.append("R15_")
  strArr[i] +=str(i+1)
  strArr[i] = strArr[i] + "_"

strArr = np.repeat(strArr, repeats=8064, axis=0)
strArr.resize(40*8064, 1)

N = []
for i in range(8064):
  N.append(i+1)

Q = []
for i in range(40):
  Q.append(N)

Q=np.array(Q)
Q.resize(40*8064,1)
L = []
for i in range(40*8064):
  L.append(strArr[i,0]+str(Q[i,0]))

In [ ]:
L15 = pd.DataFrame(columns=[1])
L15[1] = L15[1].astype(object)
for i in range(322560):
  L15.loc[i+1, 1] = np.array(L[i])
  L15.loc[i+1, 2] = np.array(label15[i, 0])
  L15.loc[i+1, 3] = np.array(label15[i, 1])
  L15.loc[i+1, 4] = np.array(label15[i, 2])
  L15.loc[i+1, 5] = np.array(label15[i, 3])
L15

                  1     2     3     4     5
1           R15_1_1  8.90  5.86  7.26  8.04
2           R15_1_2  8.90  5.86  7.26  8.04
3           R15_1_3  8.90  5.86  7.26  8.04
4           R15_1_4  8.90  5.86  7.26  8.04
5           R15_1_5  8.90  5.86  7.26  8.04
...             ...   ...   ...   ...   ...
322556  R15_40_8060  4.01  7.12  1.04  2.12
322557  R15_40_8061  4.01  7.12  1.04  2.12
322558  R15_40_8062  4.01  7.12  1.04  2.12
322559  R15_40_8063  4.01  7.12  1.04  2.12
322560  R15_40_8064  4.01  7.12  1.04  2.12

[322560 rows x 5 columns]

In [ ]:
L15.to_csv('/content/drive/MyDrive/L15.csv')

In [ ]:
strArr = []
for i in range(40):
  strArr.append("R16_")
  strArr[i] +=str(i+1)
  strArr[i] = strArr[i] + "_"

strArr = np.repeat(strArr, repeats=8064, axis=0)
strArr.resize(40*8064, 1)

N = []
for i in range(8064):
  N.append(i+1)

Q = []
for i in range(40):
  Q.append(N)

Q=np.array(Q)
Q.resize(40*8064,1)
L = []
for i in range(40*8064):
  L.append(strArr[i,0]+str(Q[i,0]))

In [ ]:
L16 = pd.DataFrame(columns=[1])
L16[1] = L16[1].astype(object)
for i in range(322560):
  L16.loc[i+1, 1] = np.array(L[i])
  L16.loc[i+1, 2] = np.array(label16[i, 0])
  L16.loc[i+1, 3] = np.array(label16[i, 1])
  L16.loc[i+1, 4] = np.array(label16[i, 2])
  L16.loc[i+1, 5] = np.array(label16[i, 3])
L16

                  1     2     3     4     5
1           R16_1_1  2.51  5.65  2.90  1.97
2           R16_1_2  2.51  5.65  2.90  1.97
3           R16_1_3  2.51  5.65  2.90  1.97
4           R16_1_4  2.51  5.65  2.90  1.97
5           R16_1_5  2.51  5.65  2.90  1.97
...             ...   ...   ...   ...   ...
322556  R16_40_8060  3.74  3.77  4.05  6.19
322557  R16_40_8061  3.74  3.77  4.05  6.19
322558  R16_40_8062  3.74  3.77  4.05  6.19
322559  R16_40_8063  3.74  3.77  4.05  6.19
322560  R16_40_8064  3.74  3.77  4.05  6.19

[322560 rows x 5 columns]

In [ ]:
L16.to_csv('/content/drive/MyDrive/L16.csv')

In [ ]:
strArr = []
for i in range(40):
  strArr.append("R17_")
  strArr[i] +=str(i+1)
  strArr[i] = strArr[i] + "_"

strArr = np.repeat(strArr, repeats=8064, axis=0)
strArr.resize(40*8064, 1)

N = []
for i in range(8064):
  N.append(i+1)

Q = []
for i in range(40):
  Q.append(N)

Q=np.array(Q)
Q.resize(40*8064,1)
L = []
for i in range(40*8064):
  L.append(strArr[i,0]+str(Q[i,0]))

In [ ]:
L17 = pd.DataFrame(columns=[1])
L17[1] = L17[1].astype(object)
for i in range(322560):
  L17.loc[i+1, 1] = np.array(L[i])
  L17.loc[i+1, 2] = np.array(label17[i, 0])
  L17.loc[i+1, 3] = np.array(label17[i, 1])
  L17.loc[i+1, 4] = np.array(label17[i, 2])
  L17.loc[i+1, 5] = np.array(label17[i, 3])
L17

                  1     2     3     4     5
1           R17_1_1  4.05  5.96  5.01  5.04
2           R17_1_2  4.05  5.96  5.01  5.04
3           R17_1_3  4.05  5.96  5.01  5.04
4           R17_1_4  4.05  5.96  5.01  5.04
5           R17_1_5  4.05  5.96  5.01  5.04
...             ...   ...   ...   ...   ...
322556  R17_40_8060  5.04  6.03  5.05  5.72
322557  R17_40_8061  5.04  6.03  5.05  5.72
322558  R17_40_8062  5.04  6.03  5.05  5.72
322559  R17_40_8063  5.04  6.03  5.05  5.72
322560  R17_40_8064  5.04  6.03  5.05  5.72

[322560 rows x 5 columns]

In [ ]:
L17.to_csv('/content/drive/MyDrive/L17.csv')

In [ ]:
strArr = []
for i in range(40):
  strArr.append("R18_")
  strArr[i] +=str(i+1)
  strArr[i] = strArr[i] + "_"

strArr = np.repeat(strArr, repeats=8064, axis=0)
strArr.resize(40*8064, 1)

N = []
for i in range(8064):
  N.append(i+1)

Q = []
for i in range(40):
  Q.append(N)

Q=np.array(Q)
Q.resize(40*8064,1)
L = []
for i in range(40*8064):
  L.append(strArr[i,0]+str(Q[i,0]))

In [ ]:
L18 = pd.DataFrame(columns=[1])
L18[1] = L18[1].astype(object)
for i in range(322560):
  L18.loc[i+1, 1] = np.array(L[i])
  L18.loc[i+1, 2] = np.array(label18[i, 0])
  L18.loc[i+1, 3] = np.array(label18[i, 1])
  L18.loc[i+1, 4] = np.array(label18[i, 2])
  L18.loc[i+1, 5] = np.array(label18[i, 3])
L18

                  1     2     3     4     5
1           R18_1_1  6.33  6.74  5.74  6.26
2           R18_1_2  6.33  6.74  5.74  6.26
3           R18_1_3  6.33  6.74  5.74  6.26
4           R18_1_4  6.33  6.74  5.74  6.26
5           R18_1_5  6.33  6.74  5.74  6.26
...             ...   ...   ...   ...   ...
322556  R18_40_8060  5.00  6.06  6.09  4.99
322557  R18_40_8061  5.00  6.06  6.09  4.99
322558  R18_40_8062  5.00  6.06  6.09  4.99
322559  R18_40_8063  5.00  6.06  6.09  4.99
322560  R18_40_8064  5.00  6.06  6.09  4.99

[322560 rows x 5 columns]

In [ ]:
L18.to_csv('/content/drive/MyDrive/L18.csv')

In [ ]:
strArr = []
for i in range(40):
  strArr.append("R19_")
  strArr[i] +=str(i+1)
  strArr[i] = strArr[i] + "_"

strArr = np.repeat(strArr, repeats=8064, axis=0)
strArr.resize(40*8064, 1)

N = []
for i in range(8064):
  N.append(i+1)

Q = []
for i in range(40):
  Q.append(N)

Q=np.array(Q)
Q.resize(40*8064,1)
L = []
for i in range(40*8064):
  L.append(strArr[i,0]+str(Q[i,0]))

In [ ]:
L19 = pd.DataFrame(columns=[1])
L19[1] = L19[1].astype(object)
for i in range(322560):
  L19.loc[i+1, 1] = np.array(L[i])
  L19.loc[i+1, 2] = np.array(label19[i, 0])
  L19.loc[i+1, 3] = np.array(label19[i, 1])
  L19.loc[i+1, 4] = np.array(label19[i, 2])
  L19.loc[i+1, 5] = np.array(label19[i, 3])
L19

                 1     2     3     4     5
1           R1_1_1  7.44  6.45  5.91  6.95
2           R1_1_2  7.44  6.45  5.91  6.95
3           R1_1_3  7.44  6.45  5.91  6.95
4           R1_1_4  7.44  6.45  5.91  6.95
5           R1_1_5  7.44  6.45  5.91  6.95
...            ...   ...   ...   ...   ...
322556  R1_40_8060  4.24  6.33  6.06  1.83
322557  R1_40_8061  4.24  6.33  6.06  1.83
322558  R1_40_8062  4.24  6.33  6.06  1.83
322559  R1_40_8063  4.24  6.33  6.06  1.83
322560  R1_40_8064  4.24  6.33  6.06  1.83

[322560 rows x 5 columns]

In [ ]:
L19.to_csv('/content/drive/MyDrive/L19.csv')

In [ ]:
strArr = []
for i in range(40):
  strArr.append("R20_")
  strArr[i] +=str(i+1)
  strArr[i] = strArr[i] + "_"

strArr = np.repeat(strArr, repeats=8064, axis=0)
strArr.resize(40*8064, 1)

N = []
for i in range(8064):
  N.append(i+1)

Q = []
for i in range(40):
  Q.append(N)

Q=np.array(Q)
Q.resize(40*8064,1)
L = []
for i in range(40*8064):
  L.append(strArr[i,0]+str(Q[i,0]))

In [ ]:
L20 = pd.DataFrame(columns=[1])
L20[1] = L20[1].astype(object)
for i in range(322560):
  L20.loc[i+1, 1] = np.array(L[i])
  L20.loc[i+1, 2] = np.array(label20[i, 0])
  L20.loc[i+1, 3] = np.array(label20[i, 1])
  L20.loc[i+1, 4] = np.array(label20[i, 2])
  L20.loc[i+1, 5] = np.array(label20[i, 3])
L20

                 1     2     3     4     5
1           R1_1_1  5.76  4.78  3.78  5.31
2           R1_1_2  5.76  4.78  3.78  5.31
3           R1_1_3  5.76  4.78  3.78  5.31
4           R1_1_4  5.76  4.78  3.78  5.31
5           R1_1_5  5.76  4.78  3.78  5.31
...            ...   ...   ...   ...   ...
322556  R1_40_8060  4.94  2.83  4.51  2.28
322557  R1_40_8061  4.94  2.83  4.51  2.28
322558  R1_40_8062  4.94  2.83  4.51  2.28
322559  R1_40_8063  4.94  2.83  4.51  2.28
322560  R1_40_8064  4.94  2.83  4.51  2.28

[322560 rows x 5 columns]

In [ ]:
L20.to_csv('/content/drive/MyDrive/L20.csv')

In [ ]:
strArr = []
for i in range(40):
  strArr.append("R21_")
  strArr[i] +=str(i+1)
  strArr[i] = strArr[i] + "_"

strArr = np.repeat(strArr, repeats=8064, axis=0)
strArr.resize(40*8064, 1)

N = []
for i in range(8064):
  N.append(i+1)

Q = []
for i in range(40):
  Q.append(N)

Q=np.array(Q)
Q.resize(40*8064,1)
L = []
for i in range(40*8064):
  L.append(strArr[i,0]+str(Q[i,0]))

In [ ]:
L21 = pd.DataFrame(columns=[1])
L21[1] = L21[1].astype(object)
for i in range(322560):
  L21.loc[i+1, 1] = np.array(L[i])
  L21.loc[i+1, 2] = np.array(label21[i, 0])
  L21.loc[i+1, 3] = np.array(label21[i, 1])
  L21.loc[i+1, 4] = np.array(label21[i, 2])
  L21.loc[i+1, 5] = np.array(label21[i, 3])
L21

                  1     2     3     4     5
1           R21_1_1  6.42  4.21  6.13  3.55
2           R21_1_2  6.42  4.21  6.13  3.55
3           R21_1_3  6.42  4.21  6.13  3.55
4           R21_1_4  6.42  4.21  6.13  3.55
5           R21_1_5  6.42  4.21  6.13  3.55
...             ...   ...   ...   ...   ...
322556  R21_40_8060  3.99  5.77  6.96  1.94
322557  R21_40_8061  3.99  5.77  6.96  1.94
322558  R21_40_8062  3.99  5.77  6.96  1.94
322559  R21_40_8063  3.99  5.77  6.96  1.94
322560  R21_40_8064  3.99  5.77  6.96  1.94

[322560 rows x 5 columns]

In [ ]:
L21.to_csv('/content/drive/MyDrive/L21.csv')

In [ ]:
strArr = []
for i in range(40):
  strArr.append("R22_")
  strArr[i] +=str(i+1)
  strArr[i] = strArr[i] + "_"

strArr = np.repeat(strArr, repeats=8064, axis=0)
strArr.resize(40*8064, 1)

N = []
for i in range(8064):
  N.append(i+1)

Q = []
for i in range(40):
  Q.append(N)

Q=np.array(Q)
Q.resize(40*8064,1)
L = []
for i in range(40*8064):
  L.append(strArr[i,0]+str(Q[i,0]))

In [ ]:
L22 = pd.DataFrame(columns=[1])
L22[1] = L22[1].astype(object)
for i in range(322560):
  L22.loc[i+1, 1] = np.array(L[i])
  L22.loc[i+1, 2] = np.array(label22[i, 0])
  L22.loc[i+1, 3] = np.array(label22[i, 1])
  L22.loc[i+1, 4] = np.array(label22[i, 2])
  L22.loc[i+1, 5] = np.array(label22[i, 3])
L22

                  1     2     3     4     5
1           R22_1_1  5.05  1.99  5.04  2.99
2           R22_1_2  5.05  1.99  5.04  2.99
3           R22_1_3  5.05  1.99  5.04  2.99
4           R22_1_4  5.05  1.99  5.04  2.99
5           R22_1_5  5.05  1.99  5.04  2.99
...             ...   ...   ...   ...   ...
322556  R22_40_8060  2.97  1.96  5.04  1.03
322557  R22_40_8061  2.97  1.96  5.04  1.03
322558  R22_40_8062  2.97  1.96  5.04  1.03
322559  R22_40_8063  2.97  1.96  5.04  1.03
322560  R22_40_8064  2.97  1.96  5.04  1.03

[322560 rows x 5 columns]

In [ ]:
L22.to_csv('/content/drive/MyDrive/L22.csv')

In [ ]:
strArr = []
for i in range(40):
  strArr.append("R23_")
  strArr[i] +=str(i+1)
  strArr[i] = strArr[i] + "_"

strArr = np.repeat(strArr, repeats=8064, axis=0)
strArr.resize(40*8064, 1)

N = []
for i in range(8064):
  N.append(i+1)

Q = []
for i in range(40):
  Q.append(N)

Q=np.array(Q)
Q.resize(40*8064,1)
L = []
for i in range(40*8064):
  L.append(strArr[i,0]+str(Q[i,0]))

In [ ]:
L23 = pd.DataFrame(columns=[1])
L23[1] = L23[1].astype(object)
for i in range(322560):
  L23.loc[i+1, 1] = np.array(L[i])
  L23.loc[i+1, 2] = np.array(label23[i, 0])
  L23.loc[i+1, 3] = np.array(label23[i, 1])
  L23.loc[i+1, 4] = np.array(label23[i, 2])
  L23.loc[i+1, 5] = np.array(label23[i, 3])
L23

                  1     2     3     4     5
1           R23_1_1  7.71  6.56  7.71  7.74
2           R23_1_2  7.71  6.56  7.71  7.74
3           R23_1_3  7.71  6.56  7.71  7.74
4           R23_1_4  7.71  6.56  7.71  7.74
5           R23_1_5  7.71  6.56  7.71  7.74
...             ...   ...   ...   ...   ...
322556  R23_40_8060  4.88  1.00  3.05  2.04
322557  R23_40_8061  4.88  1.00  3.05  2.04
322558  R23_40_8062  4.88  1.00  3.05  2.04
322559  R23_40_8063  4.88  1.00  3.05  2.04
322560  R23_40_8064  4.88  1.00  3.05  2.04

[322560 rows x 5 columns]

In [ ]:
L23.to_csv('/content/drive/MyDrive/L23.csv')

In [ ]:
strArr = []
for i in range(40):
  strArr.append("R24_")
  strArr[i] +=str(i+1)
  strArr[i] = strArr[i] + "_"

strArr = np.repeat(strArr, repeats=8064, axis=0)
strArr.resize(40*8064, 1)

N = []
for i in range(8064):
  N.append(i+1)

Q = []
for i in range(40):
  Q.append(N)

Q=np.array(Q)
Q.resize(40*8064,1)
L = []
for i in range(40*8064):
  L.append(strArr[i,0]+str(Q[i,0]))

In [ ]:
L24 = pd.DataFrame(columns=[1])
L24[1] = L24[1].astype(object)
for i in range(322560):
  L24.loc[i+1, 1] = np.array(L[i])
  L24.loc[i+1, 2] = np.array(label24[i, 0])
  L24.loc[i+1, 3] = np.array(label24[i, 1])
  L24.loc[i+1, 4] = np.array(label24[i, 2])
  L24.loc[i+1, 5] = np.array(label24[i, 3])
L24

                  1     2     3     4     5
1           R24_1_1  7.06  6.09  8.03  7.04
2           R24_1_2  7.06  6.09  8.03  7.04
3           R24_1_3  7.06  6.09  8.03  7.04
4           R24_1_4  7.06  6.09  8.03  7.04
5           R24_1_5  7.06  6.09  8.03  7.04
...             ...   ...   ...   ...   ...
322556  R24_40_8060  5.00  2.97  4.99  4.04
322557  R24_40_8061  5.00  2.97  4.99  4.04
322558  R24_40_8062  5.00  2.97  4.99  4.04
322559  R24_40_8063  5.00  2.97  4.99  4.04
322560  R24_40_8064  5.00  2.97  4.99  4.04

[322560 rows x 5 columns]

In [ ]:
L24.to_csv('/content/drive/MyDrive/L24.csv')

In [ ]:
strArr = []
for i in range(40):
  strArr.append("R25_")
  strArr[i] +=str(i+1)
  strArr[i] = strArr[i] + "_"

strArr = np.repeat(strArr, repeats=8064, axis=0)
strArr.resize(40*8064, 1)

N = []
for i in range(8064):
  N.append(i+1)

Q = []
for i in range(40):
  Q.append(N)

Q=np.array(Q)
Q.resize(40*8064,1)
L = []
for i in range(40*8064):
  L.append(strArr[i,0]+str(Q[i,0]))

In [ ]:
L25 = pd.DataFrame(columns=[1])
L25[1] = L25[1].astype(object)
for i in range(322560):
  L25.loc[i+1, 1] = np.array(L[i])
  L25.loc[i+1, 2] = np.array(label25[i, 0])
  L25.loc[i+1, 3] = np.array(label25[i, 1])
  L25.loc[i+1, 4] = np.array(label25[i, 2])
  L25.loc[i+1, 5] = np.array(label25[i, 3])
L25

                  1     2     3     4    5
1           R25_1_1  8.06  8.08  7.12  8.1
2           R25_1_2  8.06  8.08  7.12  8.1
3           R25_1_3  8.06  8.08  7.12  8.1
4           R25_1_4  8.06  8.08  7.12  8.1
5           R25_1_5  8.06  8.08  7.12  8.1
...             ...   ...   ...   ...  ...
322556  R25_40_8060  1.00  4.97  8.09  1.0
322557  R25_40_8061  1.00  4.97  8.09  1.0
322558  R25_40_8062  1.00  4.97  8.09  1.0
322559  R25_40_8063  1.00  4.97  8.09  1.0
322560  R25_40_8064  1.00  4.97  8.09  1.0

[322560 rows x 5 columns]

In [ ]:
L25.to_csv('/content/drive/MyDrive/L25.csv')

In [ ]:
strArr = []
for i in range(40):
  strArr.append("R26_")
  strArr[i] +=str(i+1)
  strArr[i] = strArr[i] + "_"

strArr = np.repeat(strArr, repeats=8064, axis=0)
strArr.resize(40*8064, 1)

N = []
for i in range(8064):
  N.append(i+1)

Q = []
for i in range(40):
  Q.append(N)

Q=np.array(Q)
Q.resize(40*8064,1)
L = []
for i in range(40*8064):
  L.append(strArr[i,0]+str(Q[i,0]))

In [ ]:
L26 = pd.DataFrame(columns=[1])
L26[1] = L26[1].astype(object)
for i in range(322560):
  L26.loc[i+1, 1] = np.array(L[i])
  L26.loc[i+1, 2] = np.array(label26[i, 0])
  L26.loc[i+1, 3] = np.array(label26[i, 1])
  L26.loc[i+1, 4] = np.array(label26[i, 2])
  L26.loc[i+1, 5] = np.array(label26[i, 3])
L26

                  1     2    3     4     5
1           R26_1_1  7.97  7.9  6.21  8.86
2           R26_1_2  7.97  7.9  6.21  8.86
3           R26_1_3  7.97  7.9  6.21  8.86
4           R26_1_4  7.97  7.9  6.21  8.86
5           R26_1_5  7.97  7.9  6.21  8.86
...             ...   ...  ...   ...   ...
322556  R26_40_8060  3.06  1.0  4.97  2.05
322557  R26_40_8061  3.06  1.0  4.97  2.05
322558  R26_40_8062  3.06  1.0  4.97  2.05
322559  R26_40_8063  3.06  1.0  4.97  2.05
322560  R26_40_8064  3.06  1.0  4.97  2.05

[322560 rows x 5 columns]

In [ ]:
L26.to_csv('/content/drive/MyDrive/L26.csv')

In [ ]:
strArr = []
for i in range(40):
  strArr.append("R27_")
  strArr[i] +=str(i+1)
  strArr[i] = strArr[i] + "_"

strArr = np.repeat(strArr, repeats=8064, axis=0)
strArr.resize(40*8064, 1)

N = []
for i in range(8064):
  N.append(i+1)

Q = []
for i in range(40):
  Q.append(N)

Q=np.array(Q)
Q.resize(40*8064,1)
L = []
for i in range(40*8064):
  L.append(strArr[i,0]+str(Q[i,0]))

In [ ]:
L27 = pd.DataFrame(columns=[1])
L27[1] = L27[1].astype(object)
for i in range(322560):
  L27.loc[i+1, 1] = np.array(L[i])
  L27.loc[i+1, 2] = np.array(label27[i, 0])
  L27.loc[i+1, 3] = np.array(label27[i, 1])
  L27.loc[i+1, 4] = np.array(label27[i, 2])
  L27.loc[i+1, 5] = np.array(label27[i, 3])
L27

                  1     2     3    4     5
1           R27_1_1  6.03  5.04  9.0  6.00
2           R27_1_2  6.03  5.04  9.0  6.00
3           R27_1_3  6.03  5.04  9.0  6.00
4           R27_1_4  6.03  5.04  9.0  6.00
5           R27_1_5  6.03  5.04  9.0  6.00
...             ...   ...   ...  ...   ...
322556  R27_40_8060  5.04  3.06  9.0  5.04
322557  R27_40_8061  5.04  3.06  9.0  5.04
322558  R27_40_8062  5.04  3.06  9.0  5.04
322559  R27_40_8063  5.04  3.06  9.0  5.04
322560  R27_40_8064  5.04  3.06  9.0  5.04

[322560 rows x 5 columns]

In [ ]:
L27.to_csv('/content/drive/MyDrive/L27.csv')

In [ ]:
strArr = []
for i in range(40):
  strArr.append("R28_")
  strArr[i] +=str(i+1)
  strArr[i] = strArr[i] + "_"

strArr = np.repeat(strArr, repeats=8064, axis=0)
strArr.resize(40*8064, 1)

N = []
for i in range(8064):
  N.append(i+1)

Q = []
for i in range(40):
  Q.append(N)

Q=np.array(Q)
Q.resize(40*8064,1)
L = []
for i in range(40*8064):
  L.append(strArr[i,0]+str(Q[i,0]))

In [ ]:
L28 = pd.DataFrame(columns=[1])
L28[1] = L28[1].astype(object)
for i in range(322560):
  L28.loc[i+1, 1] = np.array(L[i])
  L28.loc[i+1, 2] = np.array(label28[i, 0])
  L28.loc[i+1, 3] = np.array(label28[i, 1])
  L28.loc[i+1, 4] = np.array(label28[i, 2])
  L28.loc[i+1, 5] = np.array(label28[i, 3])
L28

                  1     2     3     4     5
1           R28_1_1  7.03  7.09  8.01  8.01
2           R28_1_2  7.03  7.09  8.01  8.01
3           R28_1_3  7.03  7.09  8.01  8.01
4           R28_1_4  7.03  7.09  8.01  8.01
5           R28_1_5  7.03  7.09  8.01  8.01
...             ...   ...   ...   ...   ...
322556  R28_40_8060  7.10  7.04  7.14  7.97
322557  R28_40_8061  7.10  7.04  7.14  7.97
322558  R28_40_8062  7.10  7.04  7.14  7.97
322559  R28_40_8063  7.10  7.04  7.14  7.97
322560  R28_40_8064  7.10  7.04  7.14  7.97

[322560 rows x 5 columns]

In [ ]:
L28.to_csv('/content/drive/MyDrive/L28.csv')

In [ ]:
strArr = []
for i in range(40):
  strArr.append("R29_")
  strArr[i] +=str(i+1)
  strArr[i] = strArr[i] + "_"

strArr = np.repeat(strArr, repeats=8064, axis=0)
strArr.resize(40*8064, 1)

N = []
for i in range(8064):
  N.append(i+1)

Q = []
for i in range(40):
  Q.append(N)

Q=np.array(Q)
Q.resize(40*8064,1)
L = []
for i in range(40*8064):
  L.append(strArr[i,0]+str(Q[i,0]))

In [ ]:
L29 = pd.DataFrame(columns=[1])
L29[1] = L29[1].astype(object)
for i in range(322560):
  L29.loc[i+1, 1] = np.array(L[i])
  L29.loc[i+1, 2] = np.array(label29[i, 0])
  L29.loc[i+1, 3] = np.array(label29[i, 1])
  L29.loc[i+1, 4] = np.array(label29[i, 2])
  L29.loc[i+1, 5] = np.array(label29[i, 3])
L29

                  1     2     3     4     5
1           R29_1_1  6.06  5.06  6.05  6.04
2           R29_1_2  6.06  5.06  6.05  6.04
3           R29_1_3  6.06  5.06  6.05  6.04
4           R29_1_4  6.06  5.06  6.05  6.04
5           R29_1_5  6.06  5.06  6.05  6.04
...             ...   ...   ...   ...   ...
322556  R29_40_8060  6.01  7.09  8.05  6.05
322557  R29_40_8061  6.01  7.09  8.05  6.05
322558  R29_40_8062  6.01  7.09  8.05  6.05
322559  R29_40_8063  6.01  7.09  8.05  6.05
322560  R29_40_8064  6.01  7.09  8.05  6.05

[322560 rows x 5 columns]

In [ ]:
L29.to_csv('/content/drive/MyDrive/L29.csv')

In [ ]:
strArr = []
for i in range(40):
  strArr.append("R30_")
  strArr[i] +=str(i+1)
  strArr[i] = strArr[i] + "_"

strArr = np.repeat(strArr, repeats=8064, axis=0)
strArr.resize(40*8064, 1)

N = []
for i in range(8064):
  N.append(i+1)

Q = []
for i in range(40):
  Q.append(N)

Q=np.array(Q)
Q.resize(40*8064,1)
L = []
for i in range(40*8064):
  L.append(strArr[i,0]+str(Q[i,0]))

In [ ]:
L30 = pd.DataFrame(columns=[1])
L30[1] = L30[1].astype(object)
for i in range(322560):
  L30.loc[i+1, 1] = np.array(L[i])
  L30.loc[i+1, 2] = np.array(label30[i, 0])
  L30.loc[i+1, 3] = np.array(label30[i, 1])
  L30.loc[i+1, 4] = np.array(label30[i, 2])
  L30.loc[i+1, 5] = np.array(label30[i, 3])
L30

                 1     2     3     4     5
1           R1_1_1  5.04  5.04  5.04  5.04
2           R1_1_2  5.04  5.04  5.04  5.04
3           R1_1_3  5.04  5.04  5.04  5.04
4           R1_1_4  5.04  5.04  5.04  5.04
5           R1_1_5  5.04  5.04  5.04  5.04
...            ...   ...   ...   ...   ...
322556  R1_40_8060  5.05  3.99  9.00  2.04
322557  R1_40_8061  5.05  3.99  9.00  2.04
322558  R1_40_8062  5.05  3.99  9.00  2.04
322559  R1_40_8063  5.05  3.99  9.00  2.04
322560  R1_40_8064  5.05  3.99  9.00  2.04

[322560 rows x 5 columns]

In [ ]:
L30.to_csv('/content/drive/MyDrive/L30.csv')

In [ ]:
strArr = []
for i in range(40):
  strArr.append("R31_")
  strArr[i] +=str(i+1)
  strArr[i] = strArr[i] + "_"

strArr = np.repeat(strArr, repeats=8064, axis=0)
strArr.resize(40*8064, 1)

N = []
for i in range(8064):
  N.append(i+1)

Q = []
for i in range(40):
  Q.append(N)

Q=np.array(Q)
Q.resize(40*8064,1)
L = []
for i in range(40*8064):
  L.append(strArr[i,0]+str(Q[i,0]))

In [ ]:
L31 = pd.DataFrame(columns=[1])
L31[1] = L31[1].astype(object)
for i in range(322560):
  L31.loc[i+1, 1] = np.array(L[i])
  L31.loc[i+1, 2] = np.array(label31[i, 0])
  L31.loc[i+1, 3] = np.array(label31[i, 1])
  L31.loc[i+1, 4] = np.array(label31[i, 2])
  L31.loc[i+1, 5] = np.array(label31[i, 3])
L31

                  1     2     3     4     5
1           R31_1_1  6.79  5.97  8.08  8.09
2           R31_1_2  6.79  5.97  8.08  8.09
3           R31_1_3  6.79  5.97  8.08  8.09
4           R31_1_4  6.79  5.97  8.08  8.09
5           R31_1_5  6.79  5.97  8.08  8.09
...             ...   ...   ...   ...   ...
322556  R31_40_8060  3.99  8.06  2.09  2.03
322557  R31_40_8061  3.99  8.06  2.09  2.03
322558  R31_40_8062  3.99  8.06  2.09  2.03
322559  R31_40_8063  3.99  8.06  2.09  2.03
322560  R31_40_8064  3.99  8.06  2.09  2.03

[322560 rows x 5 columns]

In [ ]:
L31.to_csv('/content/drive/MyDrive/L31.csv')

In [ ]:
strArr = []
for i in range(40):
  strArr.append("R32_")
  strArr[i] +=str(i+1)
  strArr[i] = strArr[i] + "_"

strArr = np.repeat(strArr, repeats=8064, axis=0)
strArr.resize(40*8064, 1)

N = []
for i in range(8064):
  N.append(i+1)

Q = []
for i in range(40):
  Q.append(N)

Q=np.array(Q)
Q.resize(40*8064,1)
L = []
for i in range(40*8064):
  L.append(strArr[i,0]+str(Q[i,0]))

In [ ]:
L32 = pd.DataFrame(columns=[1])
L32[1] = L32[1].astype(object)
for i in range(322560):
  L32.loc[i+1, 1] = np.array(L[i])
  L32.loc[i+1, 2] = np.array(label32[i, 0])
  L32.loc[i+1, 3] = np.array(label32[i, 1])
  L32.loc[i+1, 4] = np.array(label32[i, 2])
  L32.loc[i+1, 5] = np.array(label32[i, 3])
L32

                  1     2     3    4     5
1           R32_1_1  8.13  4.83  9.0  4.87
2           R32_1_2  8.13  4.83  9.0  4.87
3           R32_1_3  8.13  4.83  9.0  4.87
4           R32_1_4  8.13  4.83  9.0  4.87
5           R32_1_5  8.13  4.83  9.0  4.87
...             ...   ...   ...  ...   ...
322556  R32_40_8060  7.15  4.03  9.0  1.88
322557  R32_40_8061  7.15  4.03  9.0  1.88
322558  R32_40_8062  7.15  4.03  9.0  1.88
322559  R32_40_8063  7.15  4.03  9.0  1.88
322560  R32_40_8064  7.15  4.03  9.0  1.88

[322560 rows x 5 columns]

In [ ]:
L32.to_csv('/content/drive/MyDrive/L32.csv')

In [ ]:
df = pd.DataFrame(columns=[1])
df[1] = df[1].astype(object)
for i in range(322560):
  df.loc[i+1, 1] = np.array(B1[i])
df

                                                        1
1       [[0.0, 0.0, 0.0, 0.948231680995192, 0.0, -1.75...
2       [[0.0, 0.0, 0.0, 1.65333532651348, 0.0, -2.452...
3       [[0.0, 0.0, 0.0, 3.013725765548256, 0.0, 1.114...
4       [[0.0, 0.0, 0.0, 1.495061035720078, 0.0, 3.836...
5       [[0.0, 0.0, 0.0, -1.2648360967134176, 0.0, 2.4...
...                                                   ...
322556  [[0.0, 0.0, 0.0, -0.18173498030369828, 0.0, -2...
322557  [[0.0, 0.0, 0.0, -1.9711740125205228, 0.0, -5....
322558  [[0.0, 0.0, 0.0, -4.438020916380476, 0.0, -5.3...
322559  [[0.0, 0.0, 0.0, -3.2710323574469706, 0.0, -1....
322560  [[0.0, 0.0, 0.0, 2.1350086052344075, 0.0, 3.51...

[322560 rows x 1 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/B1.csv')

In [ ]:
df = pd.DataFrame(columns=[1])
df[1] = df[1].astype(object)
for i in range(322560):
  df.loc[i+1, 1] = np.array(B2[i])
df

                                                        1
1       [[0.0, 0.0, 0.0, -11.11631040230457, 0.0, -1.9...
2       [[0.0, 0.0, 0.0, 71.81244100609055, 0.0, -31.2...
3       [[0.0, 0.0, 0.0, 122.84962360551802, 0.0, -46....
4       [[0.0, 0.0, 0.0, 117.90672931908398, 0.0, -43....
5       [[0.0, 0.0, 0.0, 109.2287534475415, 0.0, -44.3...
...                                                   ...
322556  [[0.0, 0.0, 0.0, 11.428945459605366, 0.0, -8.4...
322557  [[0.0, 0.0, 0.0, -6.203386217469104, 0.0, 0.58...
322558  [[0.0, 0.0, 0.0, -33.140522158280206, 0.0, 6.8...
322559  [[0.0, 0.0, 0.0, -55.4296061904937, 0.0, 22.33...
322560  [[0.0, 0.0, 0.0, -76.0905519308366, 0.0, 40.62...

[322560 rows x 1 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/B2.csv')

In [ ]:
df = pd.DataFrame(columns=[1])
df[1] = df[1].astype(object)
for i in range(322560):
  df.loc[i+1, 1] = np.array(B3[i])
df

                                                        1
1       [[0.0, 0.0, 0.0, -17.774254815355103, 0.0, -93...
2       [[0.0, 0.0, 0.0, -8.910877435490477, 0.0, -65....
3       [[0.0, 0.0, 0.0, -3.5758951191729675, 0.0, -47...
4       [[0.0, 0.0, 0.0, -6.115606553988913, 0.0, -55....
5       [[0.0, 0.0, 0.0, -5.920303245875566, 0.0, -53....
...                                                   ...
322556  [[0.0, 0.0, 0.0, -4.1255564533936075, 0.0, -33...
322557  [[0.0, 0.0, 0.0, -2.351881800817628, 0.0, -26....
322558  [[0.0, 0.0, 0.0, -0.5898422943223736, 0.0, -34...
322559  [[0.0, 0.0, 0.0, -3.0299960473113456, 0.0, -40...
322560  [[0.0, 0.0, 0.0, -5.672202684565449, 0.0, -26....

[322560 rows x 1 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/B3.csv')

In [ ]:
df = pd.DataFrame(columns=[1])
df[1] = df[1].astype(object)
for i in range(322560):
  df.loc[i+1, 1] = np.array(B4[i])
df

                                                        1
1       [[0.0, 0.0, 0.0, 0.8118188027807212, 0.0, 8.41...
2       [[0.0, 0.0, 0.0, -16.161013642868312, 0.0, -16...
3       [[0.0, 0.0, 0.0, -29.088347576670323, 0.0, -26...
4       [[0.0, 0.0, 0.0, -3.178302825084024, 0.0, -1.6...
5       [[0.0, 0.0, 0.0, 10.467730553051304, 0.0, -15....
...                                                   ...
322556  [[0.0, 0.0, 0.0, 299.3941016816073, 0.0, 461.6...
322557  [[0.0, 0.0, 0.0, 274.9268345289996, 0.0, 405.7...
322558  [[0.0, 0.0, 0.0, 244.3886130742184, 0.0, 362.4...
322559  [[0.0, 0.0, 0.0, 193.49363627232216, 0.0, 305....
322560  [[0.0, 0.0, 0.0, 140.7320315905903, 0.0, 240.9...

[322560 rows x 1 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/B4.csv')

In [ ]:
df = pd.DataFrame(columns=[1])
df[1] = df[1].astype(object)
for i in range(322560):
  df.loc[i+1, 1] = np.array(B5[i])
df

                                                        1
1       [[0.0, 0.0, 0.0, 3.9273462924522846, 0.0, 27.3...
2       [[0.0, 0.0, 0.0, 5.457621856405879, 0.0, 19.55...
3       [[0.0, 0.0, 0.0, 7.102245475389562, 0.0, 12.65...
4       [[0.0, 0.0, 0.0, 10.276705000588155, 0.0, 9.42...
5       [[0.0, 0.0, 0.0, 9.334199245068222, 0.0, 4.098...
...                                                   ...
322556  [[0.0, 0.0, 0.0, 2.550435587222113, 0.0, -3.95...
322557  [[0.0, 0.0, 0.0, 6.056430809233948, 0.0, 2.900...
322558  [[0.0, 0.0, 0.0, 4.0172038431494705, 0.0, 3.87...
322559  [[0.0, 0.0, 0.0, -5.848306953093779, 0.0, -7.3...
322560  [[0.0, 0.0, 0.0, -8.865792221752194, 0.0, -15....

[322560 rows x 1 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/B5.csv')

In [ ]:
df = pd.DataFrame(columns=[1])
df[1] = df[1].astype(object)
for i in range(322560):
  df.loc[i+1, 1] = np.array(B6[i])
df

                                                        1
1       [[0.0, 0.0, 0.0, 20.755224545868238, 0.0, 8.10...
2       [[0.0, 0.0, 0.0, 15.295045067857172, 0.0, 19.8...
3       [[0.0, 0.0, 0.0, 11.65876662330319, 0.0, 17.21...
4       [[0.0, 0.0, 0.0, 7.669520808303529, 0.0, 6.793...
5       [[0.0, 0.0, 0.0, 3.803195511385405, 0.0, -3.46...
...                                                   ...
322556  [[0.0, 0.0, 0.0, 26.356163582441106, 0.0, 14.7...
322557  [[0.0, 0.0, 0.0, 19.531883070770398, 0.0, 13.6...
322558  [[0.0, 0.0, 0.0, 4.063394143420927, 0.0, 19.58...
322559  [[0.0, 0.0, 0.0, -2.074574205766826, 0.0, 26.6...
322560  [[0.0, 0.0, 0.0, -0.24160339145613285, 0.0, 24...

[322560 rows x 1 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/B6.csv')

In [ ]:
df = pd.DataFrame(columns=[1])
df[1] = df[1].astype(object)
for i in range(322560):
  df.loc[i+1, 1] = np.array(B7[i])
df

                                                        1
1       [[0.0, 0.0, 0.0, -3.2684569976139004, 0.0, -6....
2       [[0.0, 0.0, 0.0, -0.8747961680588503, 0.0, -11...
3       [[0.0, 0.0, 0.0, 13.030621802277675, 0.0, -10....
4       [[0.0, 0.0, 0.0, 18.983828599551718, 0.0, -11....
5       [[0.0, 0.0, 0.0, 18.892143180565625, 0.0, -9.9...
...                                                   ...
322556  [[0.0, 0.0, 0.0, 2.4716286169218113, 0.0, -6.5...
322557  [[0.0, 0.0, 0.0, -2.9992447979237578, 0.0, 5.2...
322558  [[0.0, 0.0, 0.0, -2.2020468104320767, 0.0, 10....
322559  [[0.0, 0.0, 0.0, -4.081257189956752, 0.0, 17.7...
322560  [[0.0, 0.0, 0.0, -4.206255566032397, 0.0, 21.6...

[322560 rows x 1 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/B7.csv')

In [ ]:
df = pd.DataFrame(columns=[1])
df[1] = df[1].astype(object)
for i in range(322560):
  df.loc[i+1, 1] = np.array(B8[i])
df

                                                        1
1       [[0.0, 0.0, 0.0, 2.4458525582047774, 0.0, 1.52...
2       [[0.0, 0.0, 0.0, -1.4681414916145321, 0.0, 2.6...
3       [[0.0, 0.0, 0.0, -1.8110823012957806, 0.0, -1....
4       [[0.0, 0.0, 0.0, -3.7026344521065706, 0.0, -8....
5       [[0.0, 0.0, 0.0, -6.76189023611845, 0.0, -7.98...
...                                                   ...
322556  [[0.0, 0.0, 0.0, -1.7319145508200382, 0.0, 7.1...
322557  [[0.0, 0.0, 0.0, 7.787307150621438, 0.0, 6.861...
322558  [[0.0, 0.0, 0.0, -0.7423267378672593, 0.0, 6.1...
322559  [[0.0, 0.0, 0.0, -2.7344350574847587, 0.0, 8.8...
322560  [[0.0, 0.0, 0.0, 8.064278946954923, 0.0, 6.724...

[322560 rows x 1 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/B8.csv')

In [ ]:
df = pd.DataFrame(columns=[1])
df[1] = df[1].astype(object)
for i in range(322560):
  df.loc[i+1, 1] = np.array(B9[i])
df

                                                        1
1       [[0.0, 0.0, 0.0, -5.87449467507811, 0.0, -15.2...
2       [[0.0, 0.0, 0.0, -6.865099349928301, 0.0, -17....
3       [[0.0, 0.0, 0.0, -8.365065380306376, 0.0, -26....
4       [[0.0, 0.0, 0.0, -4.598192224189611, 0.0, -27....
5       [[0.0, 0.0, 0.0, -0.18301761696308816, 0.0, -2...
...                                                   ...
322556  [[0.0, 0.0, 0.0, 0.04735505036622323, 0.0, -1....
322557  [[0.0, 0.0, 0.0, 8.009604209625756, 0.0, -14.7...
322558  [[0.0, 0.0, 0.0, -5.371455110440783, 0.0, -9.0...
322559  [[0.0, 0.0, 0.0, 3.3768625165811126, 0.0, 17.3...
322560  [[0.0, 0.0, 0.0, 29.952979393149455, 0.0, 33.9...

[322560 rows x 1 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/B9.csv')

In [ ]:
df = pd.DataFrame(columns=[1])
df[1] = df[1].astype(object)
for i in range(322560):
  df.loc[i+1, 1] = np.array(B10[i])
df

                                                        1
1       [[0.0, 0.0, 0.0, -51.36946464488048, 0.0, -82....
2       [[0.0, 0.0, 0.0, -47.545590871665055, 0.0, -88...
3       [[0.0, 0.0, 0.0, -33.57987389466809, 0.0, -57....
4       [[0.0, 0.0, 0.0, -27.558069729431004, 0.0, -36...
5       [[0.0, 0.0, 0.0, -12.069536045007133, 0.0, -13...
...                                                   ...
322556  [[0.0, 0.0, 0.0, -16.678934877004693, 0.0, -36...
322557  [[0.0, 0.0, 0.0, -0.4688604257890212, 0.0, -25...
322558  [[0.0, 0.0, 0.0, 17.479403622021298, 0.0, -9.9...
322559  [[0.0, 0.0, 0.0, -3.918825234827924, 0.0, -6.9...
322560  [[0.0, 0.0, 0.0, -11.239320119376297, 0.0, -8....

[322560 rows x 1 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/B10.csv')

In [ ]:
df = pd.DataFrame(columns=[1])
df[1] = df[1].astype(object)
for i in range(322560):
  df.loc[i+1, 1] = np.array(B11[i])
df

                                                        1
1       [[0.0, 0.0, 0.0, 90.53384277104911, 0.0, 117.0...
2       [[0.0, 0.0, 0.0, 88.14260966136551, 0.0, 130.7...
3       [[0.0, 0.0, 0.0, 68.03904028214316, 0.0, 124.9...
4       [[0.0, 0.0, 0.0, 33.2067062380223, 0.0, 72.261...
5       [[0.0, 0.0, 0.0, 31.025249602906648, 0.0, 42.2...
...                                                   ...
322556  [[0.0, 0.0, 0.0, 31.341358429265114, 0.0, 21.8...
322557  [[0.0, 0.0, 0.0, 21.419959143475864, 0.0, 14.0...
322558  [[0.0, 0.0, 0.0, -12.982301282972667, 0.0, 5.4...
322559  [[0.0, 0.0, 0.0, -6.431276074035814, 0.0, 7.99...
322560  [[0.0, 0.0, 0.0, 16.397628180466448, 0.0, -14....

[322560 rows x 1 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/B11.csv')

In [ ]:
df = pd.DataFrame(columns=[1])
df[1] = df[1].astype(object)
for i in range(322560):
  df.loc[i+1, 1] = np.array(B12[i])
df

                                                        1
1       [[0.0, 0.0, 0.0, -8.169365652104794, 0.0, -3.5...
2       [[0.0, 0.0, 0.0, -25.846930675978438, 0.0, -10...
3       [[0.0, 0.0, 0.0, -15.767235257215116, 0.0, -13...
4       [[0.0, 0.0, 0.0, 2.2418729436956752, 0.0, -8.3...
5       [[0.0, 0.0, 0.0, -15.094413150269272, 0.0, -10...
...                                                   ...
322556  [[0.0, 0.0, 0.0, 1.5226967316048334, 0.0, 0.15...
322557  [[0.0, 0.0, 0.0, 7.738291058195508, 0.0, -2.61...
322558  [[0.0, 0.0, 0.0, -3.241006452675414, 0.0, -10....
322559  [[0.0, 0.0, 0.0, -13.958381765706747, 0.0, -9....
322560  [[0.0, 0.0, 0.0, 3.6735298874449533, 0.0, 7.89...

[322560 rows x 1 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/B12.csv')

In [ ]:
df = pd.DataFrame(columns=[1])
df[1] = df[1].astype(object)
for i in range(322560):
  df.loc[i+1, 1] = np.array(B13[i])
df

                                                        1
1       [[0.0, 0.0, 0.0, 9.150451093974443, 0.0, 19.71...
2       [[0.0, 0.0, 0.0, 10.373563285436193, 0.0, -3.3...
3       [[0.0, 0.0, 0.0, -4.554663393591033, 0.0, -18....
4       [[0.0, 0.0, 0.0, -4.407960849872532, 0.0, 0.49...
5       [[0.0, 0.0, 0.0, -1.7204816342933462, 0.0, -4....
...                                                   ...
322556  [[0.0, 0.0, 0.0, 6.658830558488223, 0.0, 15.83...
322557  [[0.0, 0.0, 0.0, 4.045487661211386, 0.0, -0.53...
322558  [[0.0, 0.0, 0.0, 4.286811946589225, 0.0, -1.54...
322559  [[0.0, 0.0, 0.0, 1.866528389329595, 0.0, 8.688...
322560  [[0.0, 0.0, 0.0, -19.769969398356928, 0.0, -5....

[322560 rows x 1 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/B13.csv')

In [ ]:
df = pd.DataFrame(columns=[1])
df[1] = df[1].astype(object)
for i in range(322560):
  df.loc[i+1, 1] = np.array(B14[i])
df

                                                        1
1       [[0.0, 0.0, 0.0, 5.282138224635611, 0.0, -48.7...
2       [[0.0, 0.0, 0.0, 3.7674101151079755, 0.0, -49....
3       [[0.0, 0.0, 0.0, -1.1935788377390217, 0.0, -60...
4       [[0.0, 0.0, 0.0, -5.472180622279042, 0.0, -66....
5       [[0.0, 0.0, 0.0, -9.810761700299935, 0.0, -73....
...                                                   ...
322556  [[0.0, 0.0, 0.0, 2.732614183952043, 0.0, 15.73...
322557  [[0.0, 0.0, 0.0, -2.834384915054395, 0.0, 4.21...
322558  [[0.0, 0.0, 0.0, -6.840996716659358, 0.0, -15....
322559  [[0.0, 0.0, 0.0, -14.006404477635654, 0.0, -49...
322560  [[0.0, 0.0, 0.0, -13.6710692707687, 0.0, -45.6...

[322560 rows x 1 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/B14.csv')

In [ ]:
df = pd.DataFrame(columns=[1])
df[1] = df[1].astype(object)
for i in range(322560):
  df.loc[i+1, 1] = np.array(B15[i])
df

                                                        1
1       [[0.0, 0.0, 0.0, 1.7517659314310672, 0.0, 12.9...
2       [[0.0, 0.0, 0.0, 3.972837478593606, 0.0, 6.792...
3       [[0.0, 0.0, 0.0, 4.537076795012377, 0.0, -5.62...
4       [[0.0, 0.0, 0.0, 5.0886196518874405, 0.0, -20....
5       [[0.0, 0.0, 0.0, 8.78529748408244, 0.0, -58.99...
...                                                   ...
322556  [[0.0, 0.0, 0.0, -10.801790216937782, 0.0, 0.0...
322557  [[0.0, 0.0, 0.0, -1.8357312399485533, 0.0, 10....
322558  [[0.0, 0.0, 0.0, 0.229242726959761, 0.0, 17.43...
322559  [[0.0, 0.0, 0.0, -10.159210941270752, 0.0, 17....
322560  [[0.0, 0.0, 0.0, -4.755338193363775, 0.0, 28.0...

[322560 rows x 1 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/B15.csv')

In [ ]:
df = pd.DataFrame(columns=[1])
df[1] = df[1].astype(object)
for i in range(322560):
  df.loc[i+1, 1] = np.array(B16[i])
df

                                                        1
1       [[0.0, 0.0, 0.0, -22.168358761934925, 0.0, -8....
2       [[0.0, 0.0, 0.0, -6.987196639719961, 0.0, -2.0...
3       [[0.0, 0.0, 0.0, -7.874241099121136, 0.0, -10....
4       [[0.0, 0.0, 0.0, -23.235035870181576, 0.0, -20...
5       [[0.0, 0.0, 0.0, -13.311705124909759, 0.0, -3....
...                                                   ...
322556  [[0.0, 0.0, 0.0, -5.392877736417066, 0.0, -10....
322557  [[0.0, 0.0, 0.0, 3.787805524666245, 0.0, 7.277...
322558  [[0.0, 0.0, 0.0, 17.06555967076362, 0.0, 18.38...
322559  [[0.0, 0.0, 0.0, -9.857767747614337, 0.0, -6.8...
322560  [[0.0, 0.0, 0.0, -12.350878001581467, 0.0, -15...

[322560 rows x 1 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/B16.csv')

In [ ]:
df = pd.DataFrame(columns=[1])
df[1] = df[1].astype(object)
for i in range(322560):
  df.loc[i+1, 1] = np.array(B17[i])
df

                                                        1
1       [[0.0, 0.0, 0.0, -3.779070964618608, 0.0, -13....
2       [[0.0, 0.0, 0.0, -4.717912108824255, 0.0, -16....
3       [[0.0, 0.0, 0.0, 1.217136124483293, 0.0, -9.09...
4       [[0.0, 0.0, 0.0, 7.856046527176014, 0.0, 1.675...
5       [[0.0, 0.0, 0.0, 4.166453817355833, 0.0, -2.93...
...                                                   ...
322556  [[0.0, 0.0, 0.0, -5.488330105671864, 0.0, -20....
322557  [[0.0, 0.0, 0.0, -15.517958547990794, 0.0, -22...
322558  [[0.0, 0.0, 0.0, -28.299675855619235, 0.0, -33...
322559  [[0.0, 0.0, 0.0, -14.160875450316372, 0.0, -17...
322560  [[0.0, 0.0, 0.0, 2.8768278948936854, 0.0, 9.61...

[322560 rows x 1 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/B17.csv')

In [ ]:
df = pd.DataFrame(columns=[1])
df[1] = df[1].astype(object)
for i in range(322560):
  df.loc[i+1, 1] = np.array(B18[i])
df

                                                        1
1       [[0.0, 0.0, 0.0, 9.797411883872485, 0.0, -88.5...
2       [[0.0, 0.0, 0.0, 18.32525872894137, 0.0, -136....
3       [[0.0, 0.0, 0.0, 31.350517670191426, 0.0, -194...
4       [[0.0, 0.0, 0.0, 56.78343854689505, 0.0, -243....
5       [[0.0, 0.0, 0.0, 71.01542445713285, 0.0, -263....
...                                                   ...
322556  [[0.0, 0.0, 0.0, -6.34085654509488, 0.0, 33.40...
322557  [[0.0, 0.0, 0.0, -7.56175415212849, 0.0, 46.79...
322558  [[0.0, 0.0, 0.0, 4.031458217415864, 0.0, 13.66...
322559  [[0.0, 0.0, 0.0, 9.230185693539026, 0.0, 41.55...
322560  [[0.0, 0.0, 0.0, 7.298864406869711, 0.0, 65.53...

[322560 rows x 1 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/B18.csv')

In [ ]:
df = pd.DataFrame(columns=[1])
df[1] = df[1].astype(object)
for i in range(322560):
  df.loc[i+1, 1] = np.array(B19[i])
df

                                                        1
1       [[0.0, 0.0, 0.0, -39.95083777171672, 0.0, -35....
2       [[0.0, 0.0, 0.0, -35.30774093302985, 0.0, -33....
3       [[0.0, 0.0, 0.0, -47.772355047282375, 0.0, -45...
4       [[0.0, 0.0, 0.0, -45.754603996499476, 0.0, -48...
5       [[0.0, 0.0, 0.0, -31.01272683034749, 0.0, -35....
...                                                   ...
322556  [[0.0, 0.0, 0.0, -2.2340986801227354, 0.0, -0....
322557  [[0.0, 0.0, 0.0, -6.036825946083563, 0.0, -0.8...
322558  [[0.0, 0.0, 0.0, 1.0009971572593166, 0.0, 4.42...
322559  [[0.0, 0.0, 0.0, 10.99904759267464, 0.0, 11.66...
322560  [[0.0, 0.0, 0.0, 11.279363546406616, 0.0, 11.4...

[322560 rows x 1 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/B19.csv')

In [ ]:
df = pd.DataFrame(columns=[1])
df[1] = df[1].astype(object)
for i in range(322560):
  df.loc[i+1, 1] = np.array(B20[i])
df

                                                        1
1       [[0.0, 0.0, 0.0, -5.125002036473069, 0.0, -17....
2       [[0.0, 0.0, 0.0, -1.5722800908615762, 0.0, -14...
3       [[0.0, 0.0, 0.0, 5.291185706839273, 0.0, -4.20...
4       [[0.0, 0.0, 0.0, 10.78278946058891, 0.0, 8.096...
5       [[0.0, 0.0, 0.0, 8.611342426706521, 0.0, 6.796...
...                                                   ...
322556  [[0.0, 0.0, 0.0, 3.337455279718048, 0.0, -32.3...
322557  [[0.0, 0.0, 0.0, 5.617084753536607, 0.0, -19.8...
322558  [[0.0, 0.0, 0.0, 5.78900995759855, 0.0, -12.90...
322559  [[0.0, 0.0, 0.0, 2.4741799796845365, 0.0, -22....
322560  [[0.0, 0.0, 0.0, 6.324201465868383, 0.0, -21.4...

[322560 rows x 1 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/B20.csv')

In [ ]:
df = pd.DataFrame(columns=[1])
df[1] = df[1].astype(object)
for i in range(322560):
  df.loc[i+1, 1] = np.array(B21[i])
df

                                                        1
1       [[0.0, 0.0, 0.0, 2.128927953700579, 0.0, -16.3...
2       [[0.0, 0.0, 0.0, 0.13671368855646904, 0.0, -22...
3       [[0.0, 0.0, 0.0, -0.07510041603130668, 0.0, -1...
4       [[0.0, 0.0, 0.0, 5.3525579695378065, 0.0, -5.1...
5       [[0.0, 0.0, 0.0, 10.62794523197885, 0.0, -3.44...
...                                                   ...
322556  [[0.0, 0.0, 0.0, 4.700614617684254, 0.0, 2.522...
322557  [[0.0, 0.0, 0.0, 2.4915539717456308, 0.0, 1.91...
322558  [[0.0, 0.0, 0.0, -2.375641007493937, 0.0, 6.58...
322559  [[0.0, 0.0, 0.0, 1.6464200480061866, 0.0, 6.88...
322560  [[0.0, 0.0, 0.0, 2.158806985687472, 0.0, -0.88...

[322560 rows x 1 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/B21.csv')

In [ ]:
df = pd.DataFrame(columns=[1])
df[1] = df[1].astype(object)
for i in range(322560):
  df.loc[i+1, 1] = np.array(B22[i])
df

                                                        1
1       [[0.0, 0.0, 0.0, -20.20994194015881, 0.0, -37....
2       [[0.0, 0.0, 0.0, 26.616682352641448, 0.0, 57.8...
3       [[0.0, 0.0, 0.0, 70.24628498801873, 0.0, 150.3...
4       [[0.0, 0.0, 0.0, 40.400555187991756, 0.0, 76.5...
5       [[0.0, 0.0, 0.0, 26.276589823129477, 0.0, 56.8...
...                                                   ...
322556  [[0.0, 0.0, 0.0, 67.43914369512441, 0.0, 145.5...
322557  [[0.0, 0.0, 0.0, 53.32467923364466, 0.0, 138.3...
322558  [[0.0, 0.0, 0.0, 51.14278847920773, 0.0, 109.1...
322559  [[0.0, 0.0, 0.0, 1.6805577892519654, 0.0, -9.8...
322560  [[0.0, 0.0, 0.0, -24.668131887553553, 0.0, -42...

[322560 rows x 1 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/B22.csv')

In [ ]:
df = pd.DataFrame(columns=[1])
df[1] = df[1].astype(object)
for i in range(322560):
  df.loc[i+1, 1] = np.array(B23[i])
df

                                                        1
1       [[0.0, 0.0, 0.0, -1.5433389985838928, 0.0, -1....
2       [[0.0, 0.0, 0.0, 2.623075225292734, 0.0, -3.37...
3       [[0.0, 0.0, 0.0, 4.347405055465264, 0.0, -2.52...
4       [[0.0, 0.0, 0.0, -1.8967178859306255, 0.0, -4....
5       [[0.0, 0.0, 0.0, -3.462068708967429, 0.0, -3.4...
...                                                   ...
322556  [[0.0, 0.0, 0.0, -1.0507225542007905, 0.0, -1....
322557  [[0.0, 0.0, 0.0, -1.7429977587009824, 0.0, -1....
322558  [[0.0, 0.0, 0.0, -5.186983636444291, 0.0, -2.2...
322559  [[0.0, 0.0, 0.0, -12.266689320372626, 0.0, -4....
322560  [[0.0, 0.0, 0.0, -5.209904803435719, 0.0, -1.1...

[322560 rows x 1 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/B23.csv')

In [ ]:
df = pd.DataFrame(columns=[1])
df[1] = df[1].astype(object)
for i in range(322560):
  df.loc[i+1, 1] = np.array(B24[i])
df

                                                        1
1       [[0.0, 0.0, 0.0, -245.55660909333875, 0.0, -23...
2       [[0.0, 0.0, 0.0, -207.94903853414502, 0.0, -20...
3       [[0.0, 0.0, 0.0, -157.29443655845753, 0.0, -15...
4       [[0.0, 0.0, 0.0, -99.53658616391574, 0.0, -92....
5       [[0.0, 0.0, 0.0, -28.9503365631632, 0.0, -21.8...
...                                                   ...
322556  [[0.0, 0.0, 0.0, 33.455433702036075, 0.0, 34.4...
322557  [[0.0, 0.0, 0.0, 42.612688016676096, 0.0, 45.9...
322558  [[0.0, 0.0, 0.0, 40.55025152363568, 0.0, 43.87...
322559  [[0.0, 0.0, 0.0, 47.66353205638251, 0.0, 46.67...
322560  [[0.0, 0.0, 0.0, 51.39777725740322, 0.0, 49.15...

[322560 rows x 1 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/B24.csv')

In [ ]:
df = pd.DataFrame(columns=[1])
df[1] = df[1].astype(object)
for i in range(322560):
  df.loc[i+1, 1] = np.array(B25[i])
df

                                                        1
1       [[0.0, 0.0, 0.0, -14.31096718082083, 0.0, -21....
2       [[0.0, 0.0, 0.0, -16.17622818192639, 0.0, -41....
3       [[0.0, 0.0, 0.0, 0.2421032586310803, 0.0, 3.66...
4       [[0.0, 0.0, 0.0, 16.561811075111418, 0.0, 40.0...
5       [[0.0, 0.0, 0.0, 17.930840316945524, 0.0, 28.5...
...                                                   ...
322556  [[0.0, 0.0, 0.0, 7.56582045575469, 0.0, 29.198...
322557  [[0.0, 0.0, 0.0, 6.735945360167901, 0.0, -36.1...
322558  [[0.0, 0.0, 0.0, 2.2734289099303098, 0.0, -4.9...
322559  [[0.0, 0.0, 0.0, -15.443054679854184, 0.0, -5....
322560  [[0.0, 0.0, 0.0, -8.51584508019769, 0.0, -75.9...

[322560 rows x 1 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/B25.csv')

In [ ]:
df = pd.DataFrame(columns=[1])
df[1] = df[1].astype(object)
for i in range(322560):
  df.loc[i+1, 1] = np.array(B26[i])
df

                                                        1
1       [[0.0, 0.0, 0.0, -5.123598568294565, 0.0, -5.0...
2       [[0.0, 0.0, 0.0, 0.2381867193830427, 0.0, 1.59...
3       [[0.0, 0.0, 0.0, 8.699796275995228, 0.0, 9.410...
4       [[0.0, 0.0, 0.0, 4.861775703128663, 0.0, 5.795...
5       [[0.0, 0.0, 0.0, -0.8956217762679004, 0.0, 1.1...
...                                                   ...
322556  [[0.0, 0.0, 0.0, -13.68705648097497, 0.0, -12....
322557  [[0.0, 0.0, 0.0, -22.340947893345184, 0.0, -18...
322558  [[0.0, 0.0, 0.0, -16.58214527503997, 0.0, -10....
322559  [[0.0, 0.0, 0.0, -7.557832875380289, 0.0, -4.7...
322560  [[0.0, 0.0, 0.0, -7.8041899631546885, 0.0, -5....

[322560 rows x 1 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/B26.csv')

In [ ]:
df = pd.DataFrame(columns=[1])
df[1] = df[1].astype(object)
for i in range(322560):
  df.loc[i+1, 1] = np.array(B27[i])
df

                                                        1
1       [[0.0, 0.0, 0.0, -9.024041849111466, 0.0, -12....
2       [[0.0, 0.0, 0.0, 2.4008706881282915, 0.0, 6.29...
3       [[0.0, 0.0, 0.0, 5.3645462761956955, 0.0, 6.67...
4       [[0.0, 0.0, 0.0, 3.50703720336526, 0.0, -3.060...
5       [[0.0, 0.0, 0.0, -0.9838926656689599, 0.0, -6....
...                                                   ...
322556  [[0.0, 0.0, 0.0, -0.6483969255946334, 0.0, -1....
322557  [[0.0, 0.0, 0.0, 0.7138816353582649, 0.0, -1.3...
322558  [[0.0, 0.0, 0.0, -1.329456058889967, 0.0, -0.2...
322559  [[0.0, 0.0, 0.0, 2.422488219079013, 0.0, 6.301...
322560  [[0.0, 0.0, 0.0, 10.494822310822327, 0.0, 10.7...

[322560 rows x 1 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/B27.csv')

In [ ]:
df = pd.DataFrame(columns=[1])
df[1] = df[1].astype(object)
for i in range(322560):
  df.loc[i+1, 1] = np.array(B28[i])
df

                                                        1
1       [[0.0, 0.0, 0.0, 41.61858904888891, 0.0, 52.28...
2       [[0.0, 0.0, 0.0, 33.13859820330339, 0.0, 31.18...
3       [[0.0, 0.0, 0.0, -4.109344057606194, 0.0, -19....
4       [[0.0, 0.0, 0.0, 24.353815983969813, 0.0, 20.2...
5       [[0.0, 0.0, 0.0, 88.237133600782, 0.0, 103.419...
...                                                   ...
322556  [[0.0, 0.0, 0.0, -28.684283981695927, 0.0, -40...
322557  [[0.0, 0.0, 0.0, -17.67800889116882, 0.0, -25....
322558  [[0.0, 0.0, 0.0, -39.611547916258736, 0.0, -56...
322559  [[0.0, 0.0, 0.0, -25.96377177218918, 0.0, -36....
322560  [[0.0, 0.0, 0.0, -22.068830794563333, 0.0, -28...

[322560 rows x 1 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/B28.csv')

In [ ]:
df = pd.DataFrame(columns=[1])
df[1] = df[1].astype(object)
for i in range(322560):
  df.loc[i+1, 1] = np.array(B29[i])
df

                                                        1
1       [[0.0, 0.0, 0.0, 4.236316022754657, 0.0, -2.38...
2       [[0.0, 0.0, 0.0, 7.933310991990677, 0.0, -2.23...
3       [[0.0, 0.0, 0.0, 15.122780779934857, 0.0, -0.3...
4       [[0.0, 0.0, 0.0, 21.22851492103841, 0.0, 5.019...
5       [[0.0, 0.0, 0.0, 17.19367700616118, 0.0, -2.03...
...                                                   ...
322556  [[0.0, 0.0, 0.0, -4.873335395238961, 0.0, -1.4...
322557  [[0.0, 0.0, 0.0, -14.4846903022488, 0.0, -11.5...
322558  [[0.0, 0.0, 0.0, -12.253317062960761, 0.0, -10...
322559  [[0.0, 0.0, 0.0, 9.001180015100308, 0.0, 3.820...
322560  [[0.0, 0.0, 0.0, 14.68937454600147, 0.0, 9.187...

[322560 rows x 1 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/B29.csv')

In [ ]:
df = pd.DataFrame(columns=[1])
df[1] = df[1].astype(object)
for i in range(322560):
  df.loc[i+1, 1] = np.array(B30[i])
df

                                                        1
1       [[0.0, 0.0, 0.0, 2.299540601777505, 0.0, 0.840...
2       [[0.0, 0.0, 0.0, -27.497751224986416, 0.0, 7.4...
3       [[0.0, 0.0, 0.0, -55.89999526553847, 0.0, 18.4...
4       [[0.0, 0.0, 0.0, -78.8430350220605, 0.0, 18.51...
5       [[0.0, 0.0, 0.0, -109.5282484230988, 0.0, 21.8...
...                                                   ...
322556  [[0.0, 0.0, 0.0, 23.00564259435832, 0.0, -11.4...
322557  [[0.0, 0.0, 0.0, 12.49303645180002, 0.0, -5.33...
322558  [[0.0, 0.0, 0.0, 5.333669165037282, 0.0, 0.947...
322559  [[0.0, 0.0, 0.0, 3.485150758157472, 0.0, -8.73...
322560  [[0.0, 0.0, 0.0, 1.541056052561136, 0.0, -14.8...

[322560 rows x 1 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/B30.csv')

In [ ]:
df = pd.DataFrame(columns=[1])
df[1] = df[1].astype(object)
for i in range(322560):
  df.loc[i+1, 1] = np.array(B31[i])
df

                                                        1
1       [[0.0, 0.0, 0.0, 9.22905101575467, 0.0, 1.7416...
2       [[0.0, 0.0, 0.0, 20.007857849670962, 0.0, -4.9...
3       [[0.0, 0.0, 0.0, 2.364285125880981, 0.0, 1.621...
4       [[0.0, 0.0, 0.0, -6.605292229496686, 0.0, 1.20...
5       [[0.0, 0.0, 0.0, -12.72445377648256, 0.0, -7.5...
...                                                   ...
322556  [[0.0, 0.0, 0.0, 11.55635170746299, 0.0, -0.89...
322557  [[0.0, 0.0, 0.0, -0.003712739288130429, 0.0, -...
322558  [[0.0, 0.0, 0.0, -4.656895275343598, 0.0, -4.2...
322559  [[0.0, 0.0, 0.0, -7.042333150860948, 0.0, 0.58...
322560  [[0.0, 0.0, 0.0, -7.994614960709567, 0.0, 1.52...

[322560 rows x 1 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/B31.csv')

In [ ]:
df = pd.DataFrame(columns=[1])
df[1] = df[1].astype(object)
for i in range(322560):
  df.loc[i+1, 1] = np.array(B32[i])
df

                                                        1
1       [[0.0, 0.0, 0.0, -3.1510194234979316, 0.0, 1.4...
2       [[0.0, 0.0, 0.0, 11.608185590480268, 0.0, 4.71...
3       [[0.0, 0.0, 0.0, 5.403724381179253, 0.0, 6.988...
4       [[0.0, 0.0, 0.0, 3.8542968812469436, 0.0, 3.72...
5       [[0.0, 0.0, 0.0, 6.130429803523739, 0.0, 0.502...
...                                                   ...
322556  [[0.0, 0.0, 0.0, 2.371097233485432, 0.0, -0.06...
322557  [[0.0, 0.0, 0.0, 5.4083717450254545, 0.0, -3.9...
322558  [[0.0, 0.0, 0.0, -1.3082365029858511, 0.0, -4....
322559  [[0.0, 0.0, 0.0, -2.095681847093217, 0.0, -3.3...
322560  [[0.0, 0.0, 0.0, 2.641319472268451, 0.0, -8.04...

[322560 rows x 1 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/B32.csv')

In [ ]:
B1 = pd.read_csv("/content/drive/MyDrive/B1.csv")

In [ ]:
B1

        Unnamed: 0                                                  1
0                1  [[ 0.          0.          0.          0.94823...
1                2  [[ 0.          0.          0.          1.65333...
2                3  [[ 0.          0.          0.          3.01372...
3                4  [[ 0.          0.          0.          1.49506...
4                5  [[ 0.          0.          0.         -1.26483...
...            ...                                                ...
322555      322556  [[ 0.00000000e+00  0.00000000e+00  0.00000000e...
322556      322557  [[ 0.00000000e+00  0.00000000e+00  0.00000000e...
322557      322558  [[ 0.          0.          0.         -4.43802...
322558      322559  [[ 0.          0.          0.         -3.27103...
322559      322560  [[ 0.          0.          0.          2.13500...

[322560 rows x 2 columns]

In [ ]:
X = [B1, B2, B3, B4, B5, B6, B7, B8, B9, B10, B11, B12, B13, B14, B15, B16, B17, B18, B19, B20, B21, B22, B23, B24, B25, B26, B27, B28, B29, B30, B31, B32]
y = [label1, label2, label3, label4, label5, label6, label7, label8, label9, label10, label11, label12, label13, label14, label15, label16,
     label17, label18, label19, label20, label21, label22, label23, label24, label25, label26, label27, label28, label29, label30, label31, label32]

In [ ]:
import os, math, random, time
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.pyplot import imshow
from PIL import Image
import torch.nn as nn
import torch
import torchvision
import torch.nn.functional as F
import torchvision.transforms as transforms
import torch.optim as optim
from collections import defaultdict
from __future__ import print_function, division
from torch.optim import lr_scheduler
from torch.autograd import Variable
from torchvision import datasets, models, transforms
from torchvision.datasets import ImageFolder
from torch.utils.data import Subset
from sklearn.model_selection import train_test_split
from torchvision.transforms import Compose, ToTensor, Resize
from torch.utils.data import DataLoader

In [ ]:
def timer_start():
    global t0
    t0 = time.time()
    
def timer_end():   
    print('Time elapsed {:0.1f}s'.format(time.time() - t0))

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.0625, random_state=42)

In [ ]:
from torch.utils.data import DataLoader
trainloader = DataLoader(X_train, batch_size=4, shuffle=True, num_workers=2)
testloader = DataLoader(X_test, batch_size=4, shuffle=True, num_workers=2)

In [ ]:
class Net(nn.Module):
    def __init__(self):
        super().__init__()
        self.conv1 = nn.Conv2d(8064, 256, kernel_size=(3,3), stride=(1,1), padding=(2, 2))
        self.conv2 = nn.Conv2d(256, 128, kernel_size=(3,3), stride=(1, 1), padding=(2, 2))
        self.conv3 = nn.Conv2d(128, 64, kernel_size=(3,3), stride=(1, 1), padding=(2, 2))
        self.conv4 = nn.Conv2d(64, 32, kernel_size=(3,3), stride=(1, 1), padding=(2, 2))
        self.conv5 = nn.Conv2d(32, 32, kernel_size=(3,3), stride=(1, 1), padding=(2, 2))
        self.pool = nn.MaxPool2d(2)
        self.flat = nn.Flatten()
        self.fc1 = nn.Linear(32 * 17 * 17, 1024)
        self.fc2 = nn.Linear(1024, 128)
        self.fc3 = nn.Linear(128, 1)
        

    def forward(self, x):
        x = self.pool(F.relu(self.conv1(x)))
        x = self.pool(F.relu(self.conv2(x)))
        x = self.pool(F.relu(self.conv3(x)))
        x = F.relu(self.conv4(x))
        x = F.relu(self.conv5(x))
        x = self.flat(x)
        x = F.leaky_relu(self.fc1(x))
        x = nn.Dropout(p=0.3)(x)
        x = F.leaky_relu(self.fc2(x))
        x = torch.tanh(self.fc3(x),dim=1)
        return x

In [ ]:
device = torch.device("cuda:0" if torch.cuda.is_available() else "cpu")
model = Net()
model.to(device)

In [ ]:
criterion = nn.MSELoss()
optimizer = optim.Adam(model.parameters(), lr=1e-4, weight_decay=1e-5)
print('Device: ',device)
model

In [ ]:
def train(model, epoch, train_loader, optimizer, criterion) :   
    model.train()
    epoch_loss = 0
    for i, data in enumerate(X_train, 0):
        inputs, labels = data[0].to(device), data[1].to(device)    
        optimizer.zero_grad()
        outputs = model(inputs)
        loss = criterion(outputs, labels) 
        loss.backward()
        optimizer.step() 
        epoch_loss += outputs.shape[0] * loss.item()
    epoch_loss = epoch_loss / len(X_train)
    return epoch_loss

def test(model, epoch, test_loader, optimizer, criterion):
    model.eval()
    epoch_loss = 0
    with torch.no_grad():
        for i, data in enumerate(X_test, 0):
            images, labels = data[0].to(device), data[1].to(device)
            outputs = model(images)
            loss = criterion(outputs, labels) 
            epoch_loss += outputs.shape[0] * loss.item()
    epoch_loss = epoch_loss / len(X_test)
    return epoch_loss

In [ ]:
%%time
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

EPOCHS = 200
BATCH_SIZE=16
num_batches = math.ceil(len(X_train) / BATCH_SIZE)

print('Number of Training samples {}, Batch Size {}, Num Batch {}'.format(len(X_train), BATCH_SIZE, num_batches ))

history = defaultdict(list)

for epoch in range( EPOCHS):  
    timer_start()
    print('[Epoch {} of {}]'.format(epoch +1, EPOCHS), end = ' ')
    tr_loss = train(model, epoch, X_train, optimizer, criterion)
    val_loss = test(model, epoch, X_test, optimizer, criterion)  
    timer_end()
    print('tr_loss: {:0.4f}| val_loss {:0.4f}'.format(tr_loss , val_loss))
    history['epoch'].append(epoch+1)
    history['tr_loss'].append(round(tr_loss,5))
    history['val_loss'].append(round(val_loss,5))